<div class="product-content">
    <div class="product-item">
        <div class="product-img">
            <a target="_self" [href]="createURL(data!.name)">
                <img id="1026970643" class="lazyload" [src]="data!.image" [alt]="data!.name">
            </a>
            <div *ngIf="data!.saleRate" class="product-tags">
                <span class="tag-saleoff text-center">
                    {{data!.saleRate}}
                </span>
            </div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a target="_self" [href]="createURL(data!.name)">{{data!.name}}</a>
            </div>
            <div class="product-price clearfix">
                <span class="current-price">{{formatCashProduct(data!.price)}} ₫</span>
            </div>
            <div class="product-actions text-center clearfix">
                <div>
                    <button class="btn-add" (click)="addCart(data)">Thêm vào giỏ hàng</button>
                    <button class="btn-buy" (click)="openDialog(data)">Mua Ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>