.product-content {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 55px;
    vertical-align: top;
    width: 344px;
    margin-bottom: 20px;

    .product-item {
        position: relative;
        border: 1px solid #ededed;
        overflow: hidden;

        .product-img {
            position: relative;
            background-color: white;
            width: 100%;
            padding-top: 100%;

            a {
                display: block;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }

            .product-tags {
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 1;
                border: 2em solid red;
                border-bottom-color: transparent;

                span {
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    color: #fff;
                    margin-left: 3px;
                    position: absolute;
                    border-bottom-color: transparent;
                    right: -18px;
                    bottom: -5px;
                    font-size: 20px;
                }
            }
        }

        .product-info {
            text-align: center;
            background: #fafafa;
            padding: 10px;

            .product-title {
                min-height: 50px;

                a {
                    color: black;
                    font-size: 18px;
                    font-weight: 400;
                }

                a:hover {
                    color: #87b83b;
                }
            }

            .product-price {
                margin: 5px 0px 10px;

                span.current-price {
                    font-size: 19px;
                    font-weight: bold;
                }
            }

            .product-actions {
                button {
                    display: inline-block;
                    height: 35px;
                    margin: 0px 5px;
                    line-height: 35px;
                    padding: 0 5px;
                    font-size: 16px;
                }

                button.disabled {
                    color: #ccc !important;
                    border-color: #ccc !important;
                }

                button.btn-buyNow {
                    border-radius: 20px;
                    padding: 0px 10px;
                }

                .btn-add {
                    border: 1px solid #a36d10;
                    background-color: #fff;
                    color: #a36d10;
                }

                .btn-buy {
                    border: 1px solid #a36d10;
                    background-color: #a36d10;
                    color: #fff;
                }
            }
        }
    }

    .product-item:hover {
        box-shadow: 3.5px 6px 25px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

}

@media (max-width: 991px) {
    .product-content {
        width: 180px;
        padding-left: 5px;

        .product-item {
            .product-info {
                .product-actions {
                    button {
                        display: inline-block;
                        height: 25px;
                        margin: 0px 2px;
                        line-height: 20px;
                        font-size: 10px;
                        padding: 2px;
                    }
                }
            }
        }
    }
}