<app-header></app-header>
<div>
    <img style="width: 100%; max-height: 700px; border-bottom: 1px solid #790505;"
        src="../../../../assets/image/main/gat-lua-ruoi-hai-phong-vu-thang-6.jpg" alt="">
</div>
<div class="container produdction-system">
    <div class="breadcrumb-small">
        <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
        <span aria-hidden="true">/</span>
        <span>hệ thống kiểm soát và chất lượng</span>
    </div>
    <div style=" text-align: center; ">
        <label class="lbl-h1">ĐỐI TÁC CUNG CẤP CỦA NGỖNG</label>
        <div class="content">
            <div class="div-content">
                <div style=" font-size: xxx-large;">
                    01
                </div>
                <div style="transform: rotate(15deg);height: 100%;border: 1px solid #ccc;margin-right: 20px;">
                </div>
                <div
                    style="word-break: break-word;text-align: left; font-size: 16px; margin-left: 10px; display: flex;flex-direction: column;">
                    <strong class="font-size: 18px;margin-bottom: 15px;">
                        THIẾT KẾ TINH XẢO
                    </strong>
                    Cùng với khát vọng đưa những giá trị Việt, tự hào Việt vào tr gỗ nội thất cao cấp mà iền phog
                    góp
                    phần thau đổi cá sống chất lượng cho khách hàng và cộng đồng.
                </div>
            </div>
            <div class="div-content">
                <div style=" font-size: xxx-large;">
                    01
                </div>
                <div style="transform: rotate(15deg);height: 100%;border: 1px solid #ccc;margin-right: 20px;">
                </div>
                <div
                    style="word-break: break-word;text-align: left; font-size: 16px; margin-left: 10px; display: flex;flex-direction: column;">
                    <strong class="font-size: 18px;margin-bottom: 15px;">
                        THIẾT KẾ TINH XẢO
                    </strong>
                    Cùng với khát vọng đưa những giá trị Việt, tự hào Việt vào tr gỗ nội thất cao cấp mà iền phog
                    góp
                    phần thau đổi cá sống chất lượng cho khách hàng và cộng đồng.
                </div>
            </div>
        </div>
        <div class="content">
            <div class="div-content">
                <div style=" font-size: xxx-large;">
                    02
                </div>
                <div style="transform: rotate(15deg);height: 100%;border: 1px solid #ccc;margin-right: 20px;">
                </div>
                <div
                    style="word-break: break-word;text-align: left; font-size: 16px; margin-left: 10px; display: flex;flex-direction: column;">
                    <strong class="font-size: 18px;margin-bottom: 15px;">
                        CHẤT LƯỢNG ĐẲNG CẤP
                    </strong>
                    Giá trị cốt lõi của GALAXY-CENTER là con người, Mỗi thành viên ngộn mới tạo ra những sản phẩm
                    mang
                    tính nghệ thuật,
                    tinh minh 4.0 và tạo dựng hệ sinh thái riêng trog lĩnh vực sản xuất nghiêp và xác hội
                </div>
            </div>
            <div class="div-content">
                <div style=" font-size: xxx-large;">
                    02
                </div>
                <div style="transform: rotate(15deg);height: 100%;border: 1px solid #ccc;margin-right: 20px;">
                </div>
                <div
                    style="word-break: break-word;text-align: left; font-size: 16px; margin-left: 10px; display: flex;flex-direction: column;">
                    <strong class="font-size: 18px;margin-bottom: 15px;">
                        CHẤT LƯỢNG ĐẲNG CẤP
                    </strong>
                    Giá trị cốt lõi của GALAXY-CENTER là con người, Mỗi thành viên ngộn mới tạo ra những sản phẩm
                    mang
                    tính nghệ thuật,
                    tinh minh 4.0 và tạo dựng hệ sinh thái riêng trog lĩnh vực sản xuất nghiêp và xác hội
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px" class="outstanding">
        <label class=" lbl-h1">HỆ THỐNG KIỂM SOÁT CHẤT LƯỢNG</label>
        <div style="width: 100%;">
            <img style="width: 100%;" src="../../../../assets/image/main/ms_banner_img1.jpg">
        </div>
    </div>
    <div class="outstanding" style="margin-bottom: 40px">
        <label class=" lbl-h1">THÀNH TỰU - GIẢI THƯỞNG</label>
        <div style="width: 100%; background-color: #87b83b; height: 350px; padding-top: 15px;">
            <app-carousel [prize]="true" [numVisible]="3" [datas]="images" [responsiveOptions]="responsiveOptions">
            </app-carousel>
        </div>
    </div>
</div>
<app-footer></app-footer>