<!--component html goes here -->
<app-header #header></app-header>
<div id="LADI-WRAPER">
    <div id="SECTION1">
        <div class="title-common">
            <a target="_self" [href]="project?.banner.targetUrl"><img class="img-title" style="height: 400px;"
                    [src]="project.banner.imageUrl" alt=""></a>
        </div>
    </div>
    <div class="container">
        <div id="SECTION2">
            <h3 class="ladi-headline">Cánh đồng sẻ chia<br></h3>
        </div>
        <div id="SECTION3">
            <ul>
                <li *ngFor="let item of project?.moDau">
                    {{item}}
                </li>
            </ul>
        </div>
        <div id="SECTION4">
            <div>
                <div class="div-img1">
                    <div class="s4-img1" style="margin-bottom: 20px; background-color: #942720;">
                        <div class="div-content1">
                            <img class="img-content"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="s4-img1" style="background-color: #f6f6f6;">
                        <div class="div-content1">
                            <img class="img-content"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="div-img2">
                    <div class="s4-img1" style="margin-bottom: 20px; background-color: #224e3f;">
                        <div class="div-content1">
                            <img class="img-content"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="s4-img1" style="background-color: #c26f2b;">
                        <div class="div-content1">
                            <img class="img-content"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SECTION5">
            <div class="div-img3">
                <div class="div-img3-1">
                    <div class="div-con-img-1">
                    </div>
                    <div><a target="_self" [href]="project?.soGao[0].targetUrl"><img class="img1"
                                [src]="project?.soGao[0].imageUrl" alt="Sổ Gạo Ngỗng"></a></div>
                </div>
                <div class="div-img3-2">
                    <div class="div-con-img-1">
                    </div>
                    <div><a target="_self" [href]="project?.soGao[0].targetUrl"><img class="img1"
                                [src]="project?.soGao[1].imageUrl" alt="Sổ Gạo Ngỗng"></a></div>
                </div>
                <div class="div-img3-3">
                    <div class="div-con-img-1">
                    </div>
                    <div><a target="_self" [href]="project?.soGao[0].targetUrl"><img class="img1"
                                [src]="project?.soGao[2].imageUrl" alt="Sổ Gạo Ngỗng"></a></div>
                </div>
            </div>
        </div>
        <div id="SECTION6">
            <h3 class="ladi-ct">Đồng hành cùng <br> cánh đồng sẻ chia<br></h3>
        </div>
        <div id="SECTION7">
            <div class="ladi-container">
                <div class="img-contact">
                    <div class="regis-img">
                        <div class="child-regis-img">
                            <img class="child-img" [src]="project?.imageRegisTrip.imageUrl" alt="">
                        </div>
                    </div>
                    <div class="regis-contact">
                        <div class="child-regis-contact">
                            <p class="titleRergister">
                                Bạn đang quan tâm đến dự án nào của Ngỗng? Vui lòng để lại thông tin để Ngỗng liên hệ
                                với bạn nhé!</p>
                            <input #name name="name" class="regis-name" type="text" placeholder="Họ và tên*" value="">
                            <input #phone name="phone" class="regis-phone" type="tel" placeholder="Số điện thoại*"
                                value="">
                            <input #email name="email" class="regis-email" type="email" placeholder="Email" value="">
                            <select #projectSelect>
                                <option *ngFor="let item of projectList" [value]="item.id">{{item.name}}</option>
                            </select>
                            <textarea #message name="message" class="ladi-form-control"
                                placeholder="Góp ý hoặc thắc mắc của bạn?"></textarea>
                            <div class="article-schedule">
                                <button class="btn-kp" (click)="registOnClick()">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SECTION8" class="ladi-section">
            <div class="ladi-container">
                <div class="news-project">
                    <h2 style="font-weight: bold; margin-top: 50px; font-family: initial;">TIN MỚI NHẤT</h2>
                </div>
                <div class="partner-box">
                    <app-carousel [latestnews]="true" [numVisible]="4" [datas]="postsNewList"
                        [responsiveOptions]="responsiveOptions">
                    </app-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>