<!--component html goes here -->
<app-header></app-header>
<div id="LADI-WRAPER">
    <div id="SECTION1">
        <div class="title-common">
            <a target="_self" href="#"><img class="img-title" style="height: 400px;"
                    src="http://bizweb.dktcdn.net/100/021/951/files/d6.jpg?v=1465295653547" alt=""></a>
        </div>
    </div>
    <div class="container">
        <div id="SECTION2">
            <h3 class="ladi-headline">Cánh đồng sẻ chia<br></h3>
        </div>
        <div id="SECTION3">
            <ul>
                <li>
                    Tiết kiệm đến 35% so với giá bán lẻ, không phải lo giá cả lên xuống, lạm phát, bão giá
                </li>
                <li>
                    Được nhận gạo luôn tươi ngon và xát mới theo yêu cầu thay vì phải lưu trữ gạo số lượng lớn vừa mất
                    công
                    bảo quản, vừa làm gạo bị mối mọt, nấm mốc - Được giao hàng tận tay: Mỗi khi hết gạo, khách chỉ cần
                    gọi
                    cho Ngỗng, Ngỗng sẽ giao gạo đúng địa chỉ khách mong muốn.
                </li>
                <li>
                    Được nhận gạo luôn tươi ngon và xát mới theo yêu cầu thay vì phải lưu trữ gạo số lượng lớn vừa mất
                    công
                    bảo quản, vừa làm gạo bị mối mọt, nấm mốc - Được giao hàng tận tay: Mỗi khi hết gạo, khách chỉ cần
                    gọi
                    cho Ngỗng, Ngỗng sẽ giao gạo đúng địa chỉ khách mong muốn.
                </li>
                <li>
                    Được nhận gạo luôn tươi ngon và xát mới theo yêu cầu thay vì phải lưu trữ gạo số lượng lớn vừa mất
                    công
                    bảo quản, vừa làm gạo bị mối mọt, nấm mốc - Được giao hàng tận tay: Mỗi khi hết gạo, khách chỉ cần
                    gọi
                    cho Ngỗng, Ngỗng sẽ giao gạo đúng địa chỉ khách mong muốn.
                </li>
                <li>
                    Được nhận gạo luôn tươi ngon và xát mới theo yêu cầu thay vì phải lưu trữ gạo số lượng lớn vừa mất
                    công
                    bảo quản, vừa làm gạo bị mối mọt, nấm mốc - Được giao hàng tận tay: Mỗi khi hết gạo, khách chỉ cần
                    gọi
                    cho Ngỗng, Ngỗng sẽ giao gạo đúng địa chỉ khách mong muốn.
                </li>
            </ul>
        </div>
        <div id="SECTION4">
            <div>
                <div class="div-img1">
                    <div class="s4-img1" style="margin-bottom: 20px; background-color: #942720;">
                        <div class="div-content1">
                            <img class="img-content"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="s4-img1" style="background-color: #f6f6f6;">
                        <div class="div-content1">
                            <img class="img-content"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="div-img2">
                    <div class="s4-img1" style="margin-bottom: 20px; background-color: #224e3f;">
                        <div class="div-content1">
                            <img class="img-content"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="s4-img1" style="background-color: #c26f2b;">
                        <div class="div-content1">
                            <img class="img-content"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SECTION5">
            <div class="div-img3">
                <div style="width: 33.3%; margin-top: 20px; margin-left: 30px;">
                    <div class="div-con-img-1">
                    </div>
                    <div><img class="img1"
                            src="//product.hstatic.net/200000170631/product/so-gao-st25-100-kg-gao-nha-ngong_9f929f441327472c8d260b8ffc45505d_large.jpg"
                            alt="Sổ Gạo Ngỗng"></div>
                </div>
                <div style="width: 33.3%; margin-top: 20px; ">
                    <div class="div-con-img-1">
                    </div>
                    <div><img class="img1"
                            src="//product.hstatic.net/200000170631/product/so-gao-st25-100-kg-gao-nha-ngong_9f929f441327472c8d260b8ffc45505d_large.jpg"
                            alt="Sổ Gạo Ngỗng"></div>
                </div>
                <div style="width: 33.3%; margin-top: 20px; margin-right: 30px;">
                    <div class="div-con-img-1">
                    </div>
                    <div><img class="img1"
                            src="//product.hstatic.net/200000170631/product/so-gao-st25-100-kg-gao-nha-ngong_9f929f441327472c8d260b8ffc45505d_large.jpg"
                            alt="Sổ Gạo Ngỗng"></div>
                </div>
            </div>
        </div>
        <div id="SECTION6">
            <h3 class="ladi-ct">Đồng hành cùng <br> cánh đồng sẻ chia<br></h3>
        </div>
        <div id="SECTION7">
            <div class="ladi-container">
                <div class="img-contact">
                    <div class="regis-img">
                        <div class="child-regis-img">
                            <img class="child-img"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                    <div *ngIf="isShow" class="regis-contact">
                        <div class="child-regis-contact">
                            <p class="titleRergister">
                                Bạn đang quan tâm đến dự án nào của Ngỗng? Vui lòng để lại thông tin để Ngỗng liên hệ
                                với bạn nhé!</p>
                            <input name="name" class="regis-name" type="text" placeholder="Họ và tên*" value="">
                            <input name="phone" class="regis-phone" type="number" placeholder="Số điện thoại*" value="">
                            <input name="email" class="regis-email" type="email" placeholder="Email" value="">
                            <select>
                                <option value="0">Select Project</option>
                                <option value="1">Audi</option>
                                <option value="2">BMW</option>
                            </select>
                            <textarea name="message" class="ladi-form-control"
                                placeholder="Góp ý hoặc thắc mắc của bạn?"></textarea>
                            <div class="article-schedule">
                                <button class="btn-kp">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!isShow" class="regis-contact">
                        <div class="child-regis-contact">
                            <h1 style="color: #ffffff; font-weight: bold; margin-bottom: 40px;">Đăng ký chuyến đi</h1>
                            <input name="name" class="regis-name" type="text" placeholder="Họ & tên*" value="">
                            <input name="phone" class="regis-phone" type="number" placeholder="Số điện thoại*" value="">
                            <input name="email" class="regis-email" type="email" placeholder="Email" value="">
                            <input name="name" class="regis-name" type="text" placeholder="Địa chỉ" value="">
                            <textarea name="message" class="ladi-form-control"
                                placeholder="Bạn quan tâm đến chuyến đi nào?"></textarea>
                            <div class="article-schedule">
                                <button class="btn-kp">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SECTION8" class="ladi-section">
            <div class="ladi-container">
                <div class="news-project">
                    <h2 style="font-weight: bold; margin-top: 50px; font-family: initial;">TIN MỚI NHẤT</h2>
                </div>
                <div class="partner-box">
                    <app-carousel [latestnews]="true" [numVisible]="4" [datas]="images"
                        [responsiveOptions]="responsiveOptions">
                    </app-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>