<div class="comment-dialog">
    <div class="radio">
        <input type="radio" name="check" />
        <label>Anh</label>
        <input type="radio" name="check" />
        <label>Chị</label>
    </div>
    <div class="register">
        <input type="text" placeholder="Họ tên (bắt buộc)" />
        <input type="text" placeholder="Email (để nhận phản hồi qua Email)" />
        <input type="text" placeholder="Số điện thoại" />
        <button (click)="summit()">GỬI BÌNH LUẬN</button>
    </div>
</div>