<app-header #header></app-header>
<div id="LADI-WRAPER">
    <div class="container">
        <div style="display: flex;">
            <div id="SECTION1">
                <div class="breadcrumb-small">
                    <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
                    <span aria-hidden="true">/</span>
                    <span>Tin tức</span>
                    <span aria-hidden="true">/</span>
                    <span>Chi tiết tuyển dụng</span>
                </div>

                <div style="margin-left: 20px;">
                    <h1 style="margin-top: 30px; text-transform: uppercase;">Tuyển dụng</h1>
                    <div style="display: flex;">
                        <hr width="10%" size="5px" align="center" color="blue" />
                        <hr width="10%" size="5px" align="center" color="red" />
                    </div>

                    <h2><a href="#" title="">1.Tuyển dụng Designer</a></h2>
                    <div class="div-a-fig">
                        <a target="_self" href="#"><img class="img-content"
                                src="//file.hstatic.net/200000170631/article/tuyen_dung_designer_68e93db144c74be283ff7d6e9b831378_large.jpg"
                                alt="Tuyển Dụng Designer"></a>
                        <figcaption class="wp-caption-text"><em>Tuyển dụng Designer
                            </em></figcaption>
                    </div>

                    <div class="article-body">
                        <div style="margin-bottom: 11px;">
                            <span style="font-size:11pt"><strong><span style="font-size:13.0pt">MÔ TẢ CÔNG
                                        VIỆC</span></strong></span>
                        </div>
                        <ul>
                            <li>
                                <div><span style="font-size:11pt"><span style="font-size:13.0pt">Làm việc cùng marketing
                                            team thiết kế hình ảnh phục vụ cho các chương trình marketing.
                                        </span></span></div>
                            </li>
                            <li style="margin-bottom:11px">
                                <div><span style="font-size:11pt"><span style="font-size:13.0pt">Quản lý hình ảnh và hệ
                                            thống nhận diện thương hiệu. </span></span></div>
                            </li>
                        </ul>
                        <div style="margin-bottom: 11px;"><span style="font-size:11pt"><strong><span
                                        style="font-size:13.0pt">YÊU CẦU CÔNG VIỆC</span></strong></span></div>
                        <ul>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Thích môi trường
                                                    startup và yêu những sản phẩm nông sản Việt là một lợi
                                                    thế.</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Tối thiểu 1 năm
                                                    kinh nghiệm ở vị trí tương đương</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:12.0pt"><span style="background-color:#fcfcfc"><span
                                                        style="color:#333333">Nắm vững các kiến thức chung về thiết kế
                                                        và các xu hướng thiết kế mới.
                                                    </span></span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Năng động, sáng
                                                    tạo, có khả năng tự nghiên cứu. </span></span></span></span></div>
                            </li>
                        </ul>
                        <div style="margin-bottom: 11px;"><span style="font-size:11pt"><strong><span
                                        style="font-size:13.0pt">QUYỀN LỢI NHẬN ĐƯỢC</span></strong></span></div>
                        <ul>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Lương cạnh tranh,
                                                    BHYT... và các chính sách khác theo quy định của Luật Lao
                                                    động.</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Có cơ hội được trải
                                                    nghiệm sản phẩm và hành trình nông nghiệp tại các vùng miền trên cả
                                                    nước.</span></span></span></span></div>
                            </li>
                        </ul>
                        <div><span style="font-size:11pt"><span style="background-color:white"><strong><span
                                            style="font-size:13.0pt"><span style="color:#050505">CÁCH THỨC ỨNG
                                                TUYỂN</span></span></strong></span></span></div>
                        <div><span style="font-size:11pt"><span style="background-color:white"><span
                                        style="font-size:13.0pt"><span style="color:#050505">Gửi CV cá nhân qua email:
                                            <a style="color:#0563c1; text-decoration:underline"
                                                href="mailto:anbienfood@gmail.com">anbienfood@gmail.com</a></span></span></span></span>
                        </div>
                    </div>

                    <h2><a href="#" title="">2.Tuyển Dụng Digital Marketing Executive </a></h2>
                    <div class="div-a-fig">
                        <a target="_self" href="#"><img class="img-content"
                                src="//file.hstatic.net/200000170631/article/digital_mkt_353ecee8845140e799c9112d4818c944_large.jpg"
                                alt="Tuyển Dụng Digital Marketing Executive"></a>
                        <figcaption class="wp-caption-text"><em>Tuyển Dụng Digital Marketing Executive</em></figcaption>
                    </div>

                    <div class="article-body">
                        <div style="margin-bottom: 11px;"><span style="font-size:11pt"><strong><span
                                        style="font-size:13.0pt">MÔ TẢ CÔNG VIỆC</span></strong></span></div>
                        <ul>
                            <li style="margin-bottom:10px">
                                <div><span style="font-size:12pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt">Lập kế hoạch và trực tiếp triển khai các hoạt
                                                động Digital Marketing cho Công ty.</span></span></span></div>
                            </li>
                            <li style="margin-bottom:10px">
                                <div><span style="font-size:12pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt">Quản lý, đánh giá, phân tích và tối ưu hóa
                                                chiến dịch trên các kênh Digital. </span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Làm việc với các bộ
                                                    phận khác nhau để đảm bảo chiến dịch được chạy hiệu quả
                                                </span></span></span></span></div>
                            </li>
                        </ul>
                        <div style="margin-bottom: 11px;"><span style="font-size:11pt"><strong><span
                                        style="font-size:13.0pt">YÊU CẦU CÔNG VIỆC</span></strong></span></div>
                        <ul>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Thích môi trường
                                                    startup và yêu những sản phẩm nông sản Việt là một lợi
                                                    thế.</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Tối thiểu 1 năm
                                                    kinh nghiệm về Digital Marketing </span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="background-color:white">Khả năng
                                                    học hỏi nhanh, nhạy bén với kiến thức mới và có khả năng phân
                                                    tích</span></span></span></span></div>
                            </li>
                        </ul>
                        <div><span style="font-size:11pt"><span style="background-color:white"><strong><span
                                            style="font-size:13.0pt"><span style="color:#050505">QUYỀN LỢI NHẬN
                                                ĐƯỢC</span></span></strong></span></span></div>
                        <ul>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Lương cạnh tranh,
                                                    BHYT... và các chính sách khác theo quy định của Luật Lao
                                                    động.</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Có cơ hội được trải
                                                    nghiệm sản phẩm và hành trình nông nghiệp tại các vùng miền trên cả
                                                    nước.</span></span></span></span></div>
                            </li>
                        </ul>
                        <div><span style="font-size:11pt"><span style="background-color:white"><strong><span
                                            style="font-size:13.0pt"><span style="color:#050505">CÁCH THỨC ỨNG
                                                TUYỂN</span></span></strong></span></span></div>
                        <div><span style="font-size:11pt"><span style="background-color:white"><span
                                        style="font-size:13.0pt"><span style="color:#050505">Gửi CV cá nhân qua email:
                                            <a style="color:#0563c1; text-decoration:underline"
                                                href="mailto:anbienfood@gmail.com">anbienfood@gmail.com</a></span></span></span></span>
                        </div>
                    </div>

                    <h2><a href="#" title="">3.Tuyển Dụng Marketing Executive</a></h2>
                    <div class="div-a-fig">
                        <a target="_self" href="#"><img class="img-content"
                                src="//file.hstatic.net/200000170631/article/tuyen_dung_76cc474c97b548fcbac90de87f8cb489_large.png"
                                alt="Tuyển Dụng Marketing Executive"></a>
                        <figcaption class="wp-caption-text"><em>Tuyển Dụng Marketing Executive</em></figcaption>
                    </div>

                    <div class="article-body">
                        <div><span style="font-size:11pt"><span style="background-color:white"><strong><span
                                            style="font-size:13.0pt"><span style="color:#050505">MÔ TẢ CÔNG
                                                VIỆC</span></span></strong></span></span></div>
                        <ul>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Phân tích thị
                                                    trường, đối thủ cạnh tranh và đề xuất phương án Marketing hợp
                                                    lý.</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Tổ chức và quản lý
                                                    các chiến dịch marketing. </span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Làm việc với các bộ
                                                    phận khác nhau để đảm bảo chiến dịch được chạy hiệu quả
                                                </span></span></span></span></div>
                            </li>
                        </ul>
                        <div><span style="font-size:11pt"><span style="background-color:white"><strong><span
                                            style="font-size:13.0pt"><span style="color:#050505">YÊU CẦU CÔNG
                                                VIỆC</span></span></strong></span></span></div>
                        <ul>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Thích môi trường
                                                    startup và yêu những sản phẩm nông sản Việt là một lợi
                                                    thế.</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Tối thiểu 1 năm
                                                    kinh nghiệm trong lĩnh vực Marketing. </span></span></span></span>
                                </div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Tư duy sáng tạo,
                                                    nhanh nhẹn, không ngại khó.</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Cẩn thận, trách
                                                    nhiệm, có khả năng tự quản trị công
                                                    việc.</span></span></span></span></div>
                            </li>
                        </ul>
                        <div><span style="font-size:11pt"><span style="background-color:white"><strong><span
                                            style="font-size:13.0pt"><span style="color:#050505">QUYỀN LỢI NHẬN
                                                ĐƯỢC</span></span></strong></span></span></div>
                        <ul>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Lương cạnh tranh,
                                                    BHYT... và các chính sách khác theo quy định của Luật Lao
                                                    động.</span></span></span></span></div>
                            </li>
                            <li>
                                <div><span style="font-size:11pt"><span style="background-color:white"><span
                                                style="font-size:13.0pt"><span style="color:#050505">Có cơ hội được trải
                                                    nghiệm sản phẩm và hành trình nông nghiệp tại các vùng miền trên cả
                                                    nước.</span></span></span></span></div>
                            </li>
                        </ul>
                        <div><span style="font-size:11pt"><span style="background-color:white"><strong><span
                                            style="font-size:13.0pt"><span style="color:#050505">CÁCH THỨC ỨNG
                                                TUYỂN</span></span></strong></span></span></div>
                        <div><span style="font-size:11pt"><span style="background-color:white"><span
                                        style="font-size:13.0pt"><span style="color:#050505">Gửi CV cá nhân qua email:
                                            <a style="color:#0563c1; text-decoration:underline"
                                                href="mailto:anbienfood@gmail.com">anbienfood@gmail.com</a></span></span></span></span>
                        </div>
                    </div>
                </div>
                <div class="like-comment-ft">
                    <div class="like-comment">
                        <div style="float: right; margin-right: 10px;">
                            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
                                data-layout="button" data-action="like" data-size="small" data-share="true"></div>
                        </div>
                        <div class="fb-comments"
                            data-href="https://ngong.vn/blogs/chuyen-ngong/ruong-ruoi-va-chuyen-chon-giong-thuan-viet-st25"
                            data-width="" data-numposts="5" width="100%"></div>
                    </div>
                </div>
                <div class="content-bt">
                    <h2 style="text-transform: uppercase;">Các bài viết liên quan</h2>
                    <ul>
                        <li>Gạo ST25 Lúa Tôm Vụ Tân Xuân</li>
                        <li>Khi Khách Hàng Đóng Vai Trò Quan Trọng Trong Sản Xuất Nông Sản Bền Vững</li>
                        <li>Lịch Thời Vụ Trồng Lúa Năm 2022 của Ngỗng</li>
                        <li>Vường Đồng Hành Và Giải Pháp Ngỗng Mang Đến Cho Người Nông Dân</li>
                    </ul>
                </div>
            </div>
            <div id="SECTION2">
                <div class="title-img">
                    <h3 class="ladi-font">Tin tuyển dụng khác<br></h3>
                </div>

                <div *ngFor="let image of imagesProductSale" class="content">
                    <a target="_self" href="/chi-tiet-san-pham"><img class="" style="width: 40%;" [src]="image"></a>
                    <div class="content-1">
                        <a href="#" style="color: black; float: right;width: 55%;">Bản tin thị trường Nông Lâm Thủy
                            Sản</a>
                    </div>

                </div>

                <div style="height: 654px;"><a target="_self" href="#"><img class="img1"
                            style="width: 100%; height: 654px;" src="../../../../assets/image/main/new4.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>