.breadcrumb-small {
    margin-bottom: 20px;
}

.fb-like iframe {
    width: 126px !important;
}

.box-tin-tuc a:hover {
    color: #87b83b !important;
    cursor: default;
}

a,
.text-link {
    color: #87b83b;
    text-decoration: none;
    background: transparent;
}

.related-articles-body a {
    color: #000 !important;
}

.blog-content .lbl-h1 {
    color: #000 !important;
    font-weight: bold;
}

.tin-tuc-content .grid,
.tin-tuc-content .grid--rev,
.tin-tuc-content.grid--full,
.tin-tuc-content .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
}

.tin-tuc-content .grid__item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
    width: 100%;
    text-align: left;
}

.blog-content {
    width: 70%;
    float: left;
}

.tin-tuc-content {
    width: 30%;
    float: left;
}

.chitiettintuc .ribbon {
    margin-right: 5px;
}

.chitiettintuc img {
    width: 100%;
}

.entry-content {
    font-size: 16px;
}

.chitiettintuc .ribbon>.content {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    background: #b90d0d linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    padding: 8px 2px 4px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    width: var(--width, 32px);
    min-height: var(--height, 36px);
    transition: clip-path 1s, padding 1s, background 1s;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 2px;
}

.chitiettintuc .ribbon.down>.content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .container {
        padding: 30px 5em !important;
        align-items: flex-start;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding: 30px 1em !important;
        align-items: flex-start;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 30px 10px !important;
        margin: 0 !important;
        margin: 15px 0;
    }

    .grid__item {
        margin-top: 20px;
        padding-left: 30px;
    }
}