// component css goes here
#LADI-WRAPER {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    padding-right: 30px;
    padding-left: 55px;
    margin-top: 70px;

    #SECTION1 {
        width: 100%;
        height: 40px;
        min-height: 40px;
        float: left;
        padding-right: 20px;
        margin-bottom: 30px;

        .breadcrumb-small {
            font-size: 18px;
            margin-top: 5px !important;
            margin-bottom: 50px !important;

            a {
                font-size: 18px;
                color: #87b83b;
                text-decoration: none;
                background: transparent;
                display: inline-block;
            }
        }


    }

    .headline {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        .labelStore {
            font-size: 24px;
            text-transform: uppercase;
            margin: 0 0 40px 0;
            font-weight: 700;

            .fa {
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .fa-map-marker:before {
                content: "\f041";
            }

            .ladi-headline {
                font-family: "iCielBCCubano-Normal.otf";
                font-size: 25px;
                font-weight: bold;
            }
        }

        .text-center {
            text-align: center !important;
        }


    }

    #SECTION2 {
        width: 100%;
        height: 484px;
        min-width: 484px;
        float: left;
        margin-bottom: 50px;

        .address-content {
            display: flex;
            width: 100%;
            margin: 20px 0;
        }
        
        .address-map {
            width: 100%;
        }
        
        .address-cont {
            height: 433px;
            overflow: auto;
            border: 1px solid #ccc;
        }
        
        .social-icon {
            display: flex;
            align-items: center;
        }
        
        .social-icon img {
            width: 75px;
            min-width: 75px;
            margin-left: 20px;
        }
        
        .change-tinh,
        .change-quan {
            background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
            max-width: 100%;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        
        .change-tinh,
        .change-quan {
            padding: 5px;
            width: 100%;
            margin: 2px 0;
            font-size: 18px;
            text-shadow: 0 1px 0 #fff;
            background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
            background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
            background-image: -webkit-gradient(linear,
                    left top,
                    left bottom,
                    from(#fff),
                    to(#e0e0e0));
            background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            background-repeat: repeat-x;
            border-color: #dbdbdb;
            border-color: #ccc;
            outline: none;
            -webkit-appearance: menulist;
            -moz-appearance: menulist;
            appearance: menulist;
        }
        
        .address-cont a {
            color: #333;
            text-decoration: none;
            font-size: 16px;
        }
        
        .address-detail ul li div li:nth-child(1):before {
            content: url(//theme.hstatic.net/200000170631/1000660112/14/icon-map.png?v=3046);
            margin-right: 10px;
            margin-top: 5px
        }
        
        .vitri {
            content: url('../../../../assets/image/icons/map1.png');
            margin-top: 5px;
            width: 40px;
        }
        
        .address-detail ul li div li:nth-child(2):before {
            content: url(//theme.hstatic.net/200000170631/1000660112/14/icon-phone.png?v=3046);
            margin-right: 10px;
            margin-top: 5px;
        }
        
        .mota-link-fb {
            padding: 0 !important;
            display: flex;
            align-items: center;
            gap: 4px;
        }
        
        .address-detail ul li,
        .address-detail2 ul li {
            line-height: 30px;
            color: #333;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
        }
        
        .address-detail ul li div p,
        .address-detail2 ul li div p {
            margin: 0;
        }
        
        .address-detail ul li div li,
        .address-detail2 ul li div li {
            display: flex !important;
            border: 0;
        }
        
        .address-detail ul li:hover,
        .address-detail2 ul li:hover {
            background: #f9f9f9;
        }
        
        .address-detail ul,
        .address-detail2 ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .address-detail ul li div,
        .address-detail2 ul li div {
            font-size: 12px;
            padding: 15px;
        }
        
        a.hide {
            display: none;
        }
        
        .grid__item {
            box-sizing: border-box;
            float: left;
            min-height: 1px;
            padding-left: 30px;
            vertical-align: top;
            width: 100%;
        }
    }

    #SECTION3 {
        width: 100%;
        height: 600px;
        min-width: 600px;
        float: left;
        padding-left: 50px;
        padding-right: 50px;
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../../../../assets/image/main/canhdong.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 70px;

        .box-contact-s3 {
            width: 50%;
            float: right;
            padding: 25px;

            .regis-contact {
                padding: 15px;
                background-color: aliceblue;

                .child-regis-contact {
                    height: 515px;
                    border-radius: 10px;
                    background-color: rgba(189, 113, 37, 255);
                    text-align: center;
                    padding-top: 30px;
                    width: 100%;

                    h1 {
                        font-size: 30px;
                        color: white;
                        font-weight: bold;
                    }

                    input,
                    textarea {
                        height: 50px;
                        width: 75%;
                        display: block;
                        margin: 20px auto;
                        padding: 5px 10px;
                        border-radius: 7px;
                        border: none;
                    }

                    textarea {
                        height: 200px;
                        border-radius: 4px;
                    }
                }
            }
        }

        .box-future .box-content {
            display: flex;
            background-color: rgba(245, 222, 179, 0.5);
            border-radius: 28px;
        }
    }

    #SECTION4 {
        width: 100%;
        height: 260px;
        min-width: 359px;
        float: left;
        padding-left: 50px;
        padding-right: 50px;

        .headline {
            width: 100%;
            text-align: center;

            .ladi-headline {
                font-family: "iCielBCCubano-Normal.otf";
                font-size: 25px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .div-thuonghieu {
            display: flex;
            justify-content: center;
            width: 90%;

            

            .social-icon {
                display: flex;
                align-items: center;

                img {
                    width: 100px;
                    min-width: 100px;
                    margin-left: 110px;
                }

                .thuonghieu {
                    width: 100px;
                    min-width: 100px;
                    height: 100px;
                    min-height: 100px;
                    border: 1px solid #87b93b;
                    border-radius: 50%;
                    text-align: center;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin: 20px 0 20px 80px;
    
                    img {
                        width: 50px;
                        min-width: 50px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}