<!--component html goes here -->
<app-header #header></app-header>
<div id="LADI-WRAPER">
    <div id="BODY_BACKGROUND" class="ladi-section">
        <div class="ladi-section-background"></div>
    </div>
    <div id="SECTION1" class="ladi-section">
        <div class="ladi-section-background"></div>
    </div>
    <div class="container">
        <div id="SECTION2" class="ladi-section">
            <div class="ladi-section-background"></div>
            <div class="ladi-container">
                <div class="headline">
                    <h2 class="ladi-headline">Điểm khác biệt của Chuyến đi của ngỗng<br></h2>
                </div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="content">
                    <p style="margin-bottom: 8px;">
                        <span class="content-top">
                            Hơn nữa <b>GẠO</b> cũng là sản phẩm thiết yếu, có mặt trong mọi bữa ăn gia
                            đình Việt, diện tích sản xuất lúa thì rất lớn trong khi thu nhập của người
                            nông dân trồng lúa thì bấp bênh. Bốn năm làm anh “hàng sáo "bán
                            gạo cũng lên bờ xuống ruộng đồng hành với nông dân càng thấm, càng hiểu tại
                            sao nông dân không bán được và chính bản thân <b>Ngỗng</b> là những người
                            trẻ nhiệt huyết và năng động được đào tạo bài bản cũng gặp rất
                            nhiều khó khăn như biến đổi khí hậu, sâu hại dịch bệnh, thiếu vốn sản xuất,
                            không ổn định đầu ra trong khi giá bán, chi phí sản xuất cao, vận chuyển,
                            hàng hỏng hủy nhiều khiến giá thành sản phẩm đội nên cao. khách
                            hàng khó tiyên gia, chính quyền, đơn vị chế biến, thương mại, bán hàng...
                            đến khách hàng chứ không chỉ riêng mình Ngỗng.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div id="SECTION3" class="ladi-section">
            <div class="ladi-container">
                <div class="article-item article-item-left">
                    <div class="gradient-border">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                        <div class="content-left">
                            <a class="title2" href="#">Trải nghiệm chân thực</a>
                            <span>
                                Gặp gỡ, lắng nghe câu chuyện người thật, việc thật tại các vùng sản xuất nông nghiệp bên
                                vững.<br>
                                Trải nghiệm "làm nông" cùng nông hộ.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="article-item article-item-right">
                    <div class="gradient-border">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                        <div class="content-left">
                            <a class="title2" href="#">Khám phá mới lạ</a>
                            <span>
                                Góc nhìn mới lạ về nông nghiệp và sinh thái đa dạng của vùng nguyên liệu.<br>
                                Khám phá các địa điểm du lịch, lịch sử, văn hóa thú vị lân cận vùng nguyên liệu.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="article-item article-item-left">
                    <div class="gradient-border">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                        <div class="content-left">
                            <a class="title2" href="#">Kết nối và yêu thương</a>
                            <span>
                                Tạm gác những bồn bệ ở phố thị để kết nối tự nhiên, với các thành viên trong gia đình,
                                và với chính bản thân.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="article-item article-item-right">
                    <div class="gradient-border">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                        <div class="content-left">
                            <a class="title2" href="#">Hiểu sẻ chia</a>
                            <span>
                                Hiểu hơn về Nông nghiệp bền vững cũng như tác động của nông nghiệp bền vững tới môi
                                trường và cộng đồng.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="article-schedule">
                    <button (click)="onScroll()" class="btn-kp">Nhận lịch trình Chuyến Đi Của Ngỗng</button>
                </div>
            </div>
        </div>
        <div id="SECTION4" class="ladi-section">
            <div class="ladi-container">
                <div class="news-project">
                    <h2 class="ladi-headline">Khám phá trải nghiệm mới cùng ngỗng<br></h2>
                </div>
                <div class="line"></div>
                <div class="line" style="margin-bottom: 80px;"></div>
                <div class="gradient-border">
                    <a target="_self" href="#"><img class="img-left"
                            src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                            alt=""></a>
                    <div class="content-left">
                        <a class="title2" href="#">Cung đường Gạo Ngỗng, Đảo Bầu (Hải Phòng)</a>
                        <div class="child-content child-content-left">
                            <div class="checkmark"></div><span>Tìm hiểu về ruộng rươi</span>
                            <div class="checkmark"></div><span>Thực hành trồng cấy lúa ruộng rươi</span>
                            <div class="checkmark"></div><span>Khám phá đa dạng sinh thái ruộng rươi</span>
                        </div>
                        <div class="child-content child-content-right">
                            <div class="checkmark"></div><span>Tìm hiểu về ruộng rươi</span>
                            <div class="checkmark"></div><span>Thực hành trồng cấy lúa ruộng rươi</span>
                            <div class="checkmark"></div><span>Khám phá đa dạng sinh thái ruộng rươi</span>
                        </div>
                    </div>
                </div>
                <div class="gradient-border">
                    <div class="content-right">
                        <a class="title2" target="_self" href="#">Cung đường Diêm Dân</a>
                        <div class="child-content child-content-left">
                            <div class="checkmark"></div><span>Tìm hiểu về ruộng rươi</span>
                            <div class="checkmark"></div><span>Thực hành trồng cấy lúa ruộng rươi</span>
                            <div class="checkmark"></div><span>Khám phá đa dạng sinh thái ruộng rươi</span>
                        </div>
                        <div class="child-content child-content-right">
                            <div class="checkmark"></div><span>Tìm hiểu về ruộng rươi</span>
                            <div class="checkmark"></div><span>Thực hành trồng cấy lúa ruộng rươi</span>
                            <div class="checkmark"></div><span>Khám phá đa dạng sinh thái ruộng rươi</span>
                        </div>
                    </div>
                    <a target="_self" href="#"><img class="img-right"
                            src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                            alt=""></a>
                </div>
                <div class="gradient-border">
                    <a target="_self" href="#"><img class="img-left"
                            src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                            alt=""></a>
                    <div class="content-left">
                        <a class="title2" href="#">Cam Chú Phúc - Vườn Quốc Gia Xuân Sơn</a>
                        <div class="child-content child-content-left">
                            <div class="checkmark"></div><span>Tìm hiểu về ruộng rươi</span>
                            <div class="checkmark"></div><span>Thực hành trồng cấy lúa ruộng rươi</span>
                            <div class="checkmark"></div><span>Khám phá đa dạng sinh thái ruộng rươi</span>
                        </div>
                        <div class="child-content child-content-right">
                            <div class="checkmark"></div><span>Tìm hiểu về ruộng rươi</span>
                            <div class="checkmark"></div><span>Thực hành trồng cấy lúa ruộng rươi</span>
                            <div class="checkmark"></div><span>Khám phá đa dạng sinh thái ruộng rươi</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="add-dele"> -->
                <div class="gradient-border">
                    <!-- <button id="remove-btn" class="removeBtn hide" (click)="deleteNewElement()">x</button> -->
                    <div class="content-right">
                        <a class="title2" target="_self" href="#">Vường rau hữu cơ - Vường hồng Karose</a>
                        <div class="child-content child-content-left">
                            <div class="checkmark"></div><span>Tìm hiểu về ruộng rươi</span>
                            <div class="checkmark"></div><span>Thực hành trồng cấy lúa ruộng rươi</span>
                            <div class="checkmark"></div><span>Khám phá đa dạng sinh thái ruộng rươi</span>
                        </div>
                        <div class="child-content child-content-right">
                            <div class="checkmark"></div><span>Tìm hiểu về ruộng rươi</span>
                            <div class="checkmark"></div><span>Thực hành trồng cấy lúa ruộng rươi</span>
                            <div class="checkmark"></div><span>Khám phá đa dạng sinh thái ruộng rươi</span>
                        </div>
                    </div>
                    <a target="_self" href="#"><img class="img-right"
                            src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                            alt=""></a>
                    <!-- </div>
                    <button id="btntest" class="addBtn" (click)="addNewElement()">Add</button> -->
                </div>
            </div>
        </div>
        <div id="SECTION5" class="ladi-section">
            <div class="ladi-container">
                <div class="news-project">
                    <h2 class="ladi-headline">Yêu thương khách hàng gửi gắm cho Ngỗng<br></h2>
                </div>
                <div class="line"></div>
                <div class="line" style="margin-bottom: 60px;"></div>
                <div class="article-item-top">
                    <div class="gradient-border">
                        <div class="content-right">
                            <span>
                                "Cảm ơn NGỖNG trang trại Đào Bầu đã cho các bé một chuyến đi chơi vui và ý nghĩa, com đã
                                được học raart nhiều kiến thức mới. Xung quanh trang trại là sông nên rất mát mẻ và
                                trong lành, đảo cò và hồ cá rộng lớn... Một chuyến đi thật tuyệt"
                            </span>
                            <div class="stars">
                                <div>
                                    <span>Hà Thương</span><br>
                                    <span>02-07-2022</span>
                                </div>
                                <div class="stars-ghost" style="display: flex;">
                                    <div class="star"><i class="fa fa-star"></i></div>
                                    <div class="star"><i class="fa fa-star"></i></div>
                                    <div class="star"><i class="fa fa-star"></i></div>
                                    <div class="star"><i class="fa fa-star"></i></div>
                                    <div class="star"><i class="fa fa-star"></i></div>
                                </div>
                            </div>
                        </div>
                        <a target="_self" href="#"><img class="img-right"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="article-item-bottom">
                    <div class="article-item">
                        <div class="gradient-border">
                            <div class="content-left">
                                <span>
                                    <i>Cường tiếp tục sang Hà Lan du học về phát triển bền vững với mong muốn nông dân Việt
                                        Nam có thể sản xuất công nghiệp hóa.</i>
                                </span>
                                <div class="stars">
                                    <div>
                                        <span>Hà Thương</span><br>
                                        <span>02-07-2022</span>
                                    </div>
                                    <div class="stars-ghost" style="display: flex;">
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                            </div>
                            <a target="_self" href="#"><img class="img-left"
                                    src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                    alt=""></a>
                        </div>
                    </div>
                    <div class="article-item">
                        <div class="gradient-border">
                            <div class="content-left">
                                <span>
                                    <i>Sau đó, Cường tiếp tục sang Hà Lan du học về phát triển bền vững với mong muốn nông
                                        dân Việt Nam có thể sản xuất công nghiệp hóa.</i>
                                </span>
                                <div class="stars">
                                    <div>
                                        <span>Hà Thương</span><br>
                                        <span>02-07-2022</span>
                                    </div>
                                    <div class="stars-ghost" style="display: flex;">
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                            </div>
                            <a target="_self" href="#"><img class="img-left"
                                    src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SECTION6" class="ladi-section">
            <div class="ladi-container">
                <div class="news-project">
                    <h2 class="ladi-headline">Đăng ký nhận lịch trình chuyến đi<br></h2>
                </div>
                <div style="text-align: center;">
                    <span>
                        Bạn quan tâm đến chuyến đi của Ngỗng ? Vui lòng điền đầy đủ thông tin vào biểu mẫu dưới đây.<br>
                        Ngỗng sẽ liên hệ với bạn ngay
                    </span>
                </div>
                <div class="img-contact">
                    <div class="regis-img">
                        <div class="child-regis-img">
                            <img class="child-img"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="regis-contact">
                        <div class="child-regis-contact">
                            <h1 style="color: #ffffff; font-weight: bold; margin-bottom: 40px;">Đăng ký chuyến đi</h1>
                            <input name="name" class="regis-name" type="text" placeholder="Họ & tên*" value="">
                            <input name="phone" class="regis-phone" type="number" placeholder="Số điện thoại*" value="">
                            <input name="email" class="regis-email" type="email" placeholder="Email" value="">
                            <input name="name" class="regis-name" type="text" placeholder="Địa chỉ" value="">
                            <textarea name="message" class="ladi-form-control"
                                placeholder="Bạn quan tâm đến chuyến đi nào?"></textarea>
                            <div class="article-schedule">
                                <button class="btn-kp">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SECTION7" class="ladi-section">
            <div class="ladi-container">
                <div class="news-project">
                    <h2 style="font-weight: bold; margin-top: 50px; font-family: initial;">TIN MỚI NHẤT</h2>
                </div>
                <div class="partner-box">
                    <app-carousel [latestnews]="true" [numVisible]="4" [datas]="images"
                        [responsiveOptions]="responsiveOptions">
                    </app-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>