body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    display: block;

    &:hover{
        color: black;
    }
}

span{
    font-size: 18px;
}

#LADI-WRAPER {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;

    #BODY_BACKGROUND {
        position: fixed;
        pointer-events: none;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 100vh !important;
    }

    #SECTION1 {
        height: 471.449px;
        min-height: 471.449px;

        .ladi-section-background {
            background-size: 100%;
            background-attachment: scroll;
            background-origin: content-box;
            background-image: url(https://w.ladicdn.com/s1440x471/5f9cc63edfcdfd080799245c/layer-81-20210106233609.jpg);
            background-position: center top;
            background-repeat: no-repeat;
        }
    }

    #SECTION2 {
        margin-top: 50px;
        width: 100%;

        .ladi-container {
            width: 100%;
            height: 100%;

            .line{
                border: 1px solid #87b83b;
                width: 40%;
                margin: 0 auto;
                margin-bottom: 2px;
            }

            .headline {
                width: 100%;
                text-align: center;

                .ladi-headline {
                    color: rgb(99, 145, 16);
                    font-weight: bold;
                }

                .ladi-headline{
                    text-transform: uppercase;
                    font-size: 1.75rem;
                }
            }

            .content {
                margin-top: 50px;
                width: 100%;

                .content-top{
                    font-size: 18px;
                }
            }
        }
    }

    #SECTION3 {
        height: 800px;
        min-height: 800px;
        margin-top: 50px;
        width: 100%;

        .ladi-container {
            width: 100%;
            height: 100%;

            .article-item {
                width: 50%;
                float: left;
                margin-top: 14px;

                .gradient-border {
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    padding: 2px;
                    height: 335px;
                    min-height: 335px;

                    &:hover {
                        background: #ffffff;
                        box-shadow: 3.5px 6px 18px 0 rgb(0 0 0 / 10%);
                        -moz-box-shadow: 0px 0px 10px rgba(140, 140, 140, 0.32);
                        -webkit-box-shadow: 0px 0px 10px rgb(140 140 140 / 32%);
                        box-shadow: 0px 0px 10px rgb(140 140 140 / 32%);
                        border: 1px solid #87b83b;
                    }

                    .img-left {
                        // width: 215px;
                        width: 35%;
                        height: 329px;
                        min-height: 329px;
                        float: left;
                    }

                    .content-left {
                        margin-left: 37%;
                        margin-right: 30px;

                        .title2{
                            margin-left:-2px;
                            padding-top: 30px;
                            display: flex;
                            font-weight: bold;
                            padding-bottom: 15px;
                            font-size: 20px;
                        }
                    }
                }
            }

            .article-item-left{
                padding-right: 7px;
            }

            .article-item-right{
                padding-left: 7px;
            }

            .article-item-btn {
                width: 100%;
            }

            .article-schedule {
                text-align: center;

                .btn-kp {
                    background-color: rgb(99, 145, 16);
                    border-radius: 15px;
                    box-sizing: border-box;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    cursor: pointer;
                    padding: 10px 24px;
                    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
                    // width: 50%;
                    border: none;
                    margin-top: 55px;
                    text-transform: uppercase;

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                        transform: translateY(-2px);
                    }

                    &:active {
                        box-shadow: none;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    #SECTION4 {
        height: 1390px;
        min-height: 1390px;
        margin-top: 90px;
        width: 100%;

        .ladi-container {
            width: 100%;
            height: 100%;

            .line{
                border: 1px solid #87b83b;
                width: 40%;
                margin: 0 auto;
                margin-bottom: 2px;
            }
            
            .news-project {
                top: 20px;
                width: 100%;
                text-align: center;
                margin-top: 60px;

                .ladi-headline {
                    color: #8B4513;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .ladi-headline {
                    width: 100%;
                    display: inline-block;
                    background-size: cover;
                    background-position: center center;
                }
            }

            .gradient-border {
                position: relative;
                margin-top: 40px;
                border: 1px solid #e5e5e5;
                padding: 3px;
                border-radius: 4px;
                height: 270px;
                min-height: 270px;

                &:hover {
                    box-shadow: 0px 0px 10px rgb(140 140 140 / 32%);
                    border: 1px solid #87b83b;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: calc(-1 * var(--borderWidth));
                    left: calc(-1 * var(--borderWidth));
                    height: calc(100% + var(--borderWidth) * 2);
                    width: calc(100% + var(--borderWidth) * 2);
                    background: green;
                    border-radius: calc(2 * var(--borderWidth));
                    z-index: -1;
                    background-size: 300% 300%;
                }

                .img-left {
                    width: 35%;
                    height: 100%;
                    float: left;
                    padding: 3px;
                    bottom: 0px;
                    left: 0px;
                    position: absolute;
                    border-radius: 4px;
                }

                .content-left {
                    width: 65%;
                    float: right;
                    text-align: center;
                    padding-top: 40px;

                    a {
                        font-weight: bold;
                        padding-bottom: 30px;
                    }

                    .child-content {
                        width: 50%;
                        height: 100%;
                        float: left;
                        padding: 10px 20px;

                        span {
                            text-align: left;
                            display: block;
                        }

                        .checkmark{
                            float: left;
                            transform: rotate(45deg);
                            height: 20px;
                            width: 10px;
                            border-bottom: 3px solid #000000;
                            border-right: 3px solid #000000;
                            margin-right: 15px;
                        }
                    }
                }

                .img-right {
                    width: 35%;
                    height: 100%;
                    right: 0px;
                    bottom: 0px;
                    position: absolute;
                    border-radius: 4px;
                    padding: 3px;
                }

                .content-right {
                    width: 65%;
                    float: left;
                    text-align: center;
                    padding-top: 40px;

                    .hide {
                        display: none;
                    }

                    a {
                        font-weight: bold;
                        padding-bottom: 30px;
                    }

                    .child-content {
                        width: 50%;
                        height: 100%;
                        float: left;
                        padding: 10px 20px;

                        span {
                            text-align: left;
                            display: block;
                        }

                        .checkmark{
                            float: left;
                            transform: rotate(45deg);
                            height: 20px;
                            width: 10px;
                            border-bottom: 3px solid #000000;
                            border-right: 3px solid #000000;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }

    #SECTION5 {
        margin-top: 50px;
        height: 830px;
        min-height: 830px;
        width: 100%;

        .ladi-container {
            width: 100%;
            height: 100%;
            margin-top: 40px;

            .line{
                border: 1px solid #87b83b;
                width: 40%;
                margin: 0 auto;
                margin-bottom: 2px;
            }

            .news-project {
                top: 20px;
                width: 100%;
                text-align: center;
                margin-top: 60px;

                .ladi-headline {
                    color: #8B4513;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .ladi-headline {
                    width: 100%;
                    display: inline-block;
                    background-size: cover;
                    background-position: center center;
                }
            }

            .article-item-top {
                width: 100%;
                margin-top: 10px;

                .gradient-border {
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    padding: 2px;
                    height: 330px;
                    min-height: 330px;

                    &:hover {
                        background: #ffffff;
                        box-shadow: 3.5px 6px 18px 0 rgb(0 0 0 / 10%);
                        -moz-box-shadow: 0px 0px 10px rgba(140, 140, 140, 0.32);
                        -webkit-box-shadow: 0px 0px 10px rgb(140 140 140 / 32%);
                        box-shadow: 0px 0px 10px rgb(140 140 140 / 32%);
                        border: 1px solid #87b83b;
                    }

                    .content-right {
                        width: 50%;
                        float: left;
                        padding-left: 30px;
                        padding-right: 30px;
                        margin-top: 50px;

                        .stars{
                            margin-top: 30px;
                        }
                    }

                    .img-right {
                        float: left;
                        width: 50%;
                        height: 324px;
                        min-height: 324px;
                    }
                }

            }

            .article-item-bottom{
                width: 100%; 
                display: inline-block;

                .article-item {
                    width: 50%;
                    float: left;
                    margin-top: 10px;
    
                    .gradient-border {
                        border: 1px solid #e5e5e5;
                        border-radius: 4px;
                        padding: 2px;
                        height: 325px;
                        min-height: 325px;
    
                        &:hover {
                            background: #ffffff;
                            box-shadow: 3.5px 6px 18px 0 rgb(0 0 0 / 10%);
                            -moz-box-shadow: 0px 0px 10px rgba(140, 140, 140, 0.32);
                            -webkit-box-shadow: 0px 0px 10px rgb(140 140 140 / 32%);
                            box-shadow: 0px 0px 10px rgb(140 140 140 / 32%);
                            border: 1px solid #87b83b;
                        }
    
                        .img-left {
                            width: 40%;
                            height: 319px;
                            min-height: 319px;
                        }
    
                        .content-left {
                            float: left;
                            width: 60%;
                            padding-left: 30px;
                            padding-right: 30px;
                            margin-top: 50px;
    
                            a {
                                display: flex;
                                font-weight: bold;
                            }
    
                            .stars{
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    #SECTION6 {
        margin-top: 65px;
        height: 930px;
        min-height: 930px;
        width: 100%;

        .ladi-container {
            width: 100%;
            height: 100%;
        }

        .news-project {
            top: 20px;
            width: 100%;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 10px;

            .ladi-headline {
                color: #8B4513;
                font-weight: bold;
                text-transform: uppercase;
            }

            .ladi-headline {
                width: 100%;
                display: inline-block;
                background-size: cover;
                background-position: center center;
            }
        }

        .img-contact {
            height: 710px;
            margin-top: 30px;
            padding-left: 40px;
            padding-right: 40px;

            .regis-img {
                width: 50%;
                float: left;
                padding: 5px;

                .child-regis-img {
                    height: 700px;
                    border-radius: 10px;

                    .child-img {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }
            }

            .regis-contact {
                width: 50%;
                float: left;
                padding: 5px;

                .child-regis-contact {
                    height: 700px;
                    border-radius: 10px;
                    background-color: rgba(189, 113, 37, 255);
                    text-align: center;
                    padding-top: 30px;

                    input,
                    textarea {
                        height: 60px;
                        width: 85%;
                        display: block;
                        margin: 15px auto;
                        padding: 5px 10px;
                        border-radius: 7px;
                        border: none;
                    }

                    textarea {
                        height: 200px;
                        border-radius: 4px;
                    }

                    .article-schedule {
                        text-align: center;
        
                        .btn-kp {
                            background-color: rgb(99, 145, 16);
                            border-radius: 15px;
                            box-sizing: border-box;
                            color: rgb(255, 255, 255);
                            font-weight: bold;
                            cursor: pointer;
                            padding: 10px 24px;
                            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
                            width: 80%;
                            border: none;
                            text-transform: uppercase;
        
                            &:hover {
                                box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                                transform: translateY(-2px);
                            }
        
                            &:active {
                                box-shadow: none;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }
        }
    }

    #SECTION7 {
        height: 425px;
        min-height: 425px;
        margin-bottom: 50px;
        width: 100%;

        .ladi-container {
            width: 100%;
            height: 100%;
        }
    }

    .ladi-section {
        margin: 0 auto;
        position: relative;

        .ladi-section-background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            overflow: hidden;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .content-top, span{
        font-size: 14px !important;
    }

    .title2{
        font-size: 17px !important;
    }

    #SECTION4{
        .ladi-container{
            .gradient-border{
                .content-left, .content-right{
                    padding-top: 10px !important;

                    a{
                        padding-bottom: 5px !important;
                    }
                }
            }
        }
    }

    .checkmark{
        height: 15px !important;
        width: 7px !important;
        margin-right: 5px !important;
    }

    #SECTION5{
        .ladi-container{
            .article-item-top{
                .gradient-border{
                    .content-right{
                        margin-top: 10px !important;
                        padding-left: 15px !important;
                        padding-right: 15px !important;

                        .stars{
                            margin-top: 10px !important;
                        }
                    }
                }
            }

            .article-item-bottom{
                .article-item{
                    .gradient-border{
                        .content-left{
                            margin-top: 10px !important;
                            padding-left: 15px !important;
                            padding-right: 15px !important;
                        }

                        .stars{
                            margin-top: 10px !important;
                        }
                    }
                }
            }
        }
    }

    #SECTION6{
        .ladi-container{
            .img-contact{
                .regis-contact{
                    .child-regis-contact{
                        h1{
                            font-size: 18px !important;
                        }

                        input,
                        textarea {
                            height: 60px;
                            margin: 15px auto;
                            padding: 5px 10px;
                        }
                    
                        textarea {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }

    #SECTION7{
        margin-bottom: 100px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .content-top, span{
        font-size: 14px !important;
    }

    .title2{
        font-size: 16px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .content-top, span{
        font-size: 15px !important;
    }

    .title2{
        font-size: 18px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .content-top, span{
        font-size: 16px !important;
    }

    .title2{
        font-size: 20px !important;
    }
}

@media (min-width: 1400px) {
    .content-top, span{
        font-size: 18px !important;
    }
}

@media (min-width: 576px) {

    .container {
        max-width: 540px !important;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 740px !important;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 980px !important;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1150px !important;
    }
}

@media (min-width: 1400px) {

    .container {
        max-width: 1400px !important;
    }
}