<!--component html goes here -->
<app-header></app-header>
<div id="LADI-WRAPER">
    <div class="container">
        <div id="SECTION1">
            <div class="ladi-container">
                <div class="breadcrumb-small">
                    <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
                    <span aria-hidden="true">/</span>
                    <span>Tin tức</span>
                    <span aria-hidden="true">/</span>
                    <span>Tuyển dụng</span>
                </div>
            </div>
        </div>
        <label class="lbl-h1">Hành trình của Ngỗng</label>
        <div id="SECTION2">
            <div class="ladi-container">
                <section class="timeline">
                    <ol>
                        <li *ngFor="let item of tuyenDungNews.journeyList">
                            <div>
                                <time>{{item.time}}</time>{{item.content}}
                            </div>
                        </li>
                    </ol>
                    <div class="arrows">
                        <button class="arrow arrow__prev disabled" disabled>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg"
                                alt="prev timeline arrow">
                        </button>
                        <button class="arrow arrow__next">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg"
                                alt="next timeline arrow">
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div>
            <label class="lbl-h1">Văn hóa nhà Ngỗng</label>
        </div>
        <div id="SECTION3" class="ladi-section">
            <div class="ladi-container">
                <div *ngFor="let item of tuyenDungNews.cultureList; let i = index">
                    <div *ngIf="i%2 === 0" class="article-item article-item-left">
                        <div class="gradient-border">
                            <a target="_self" [href]="item.targetUrl"><img class="img-left" [src]="item.imageUrl"
                                    [alt]="item.tile"></a>
                            <div class="content-left">
                                <a style="margin-left:-2px; " [href]="item.targetUrl">{{item.title}}</a>
                                <span>
                                    {{item.content}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="i%2 !== 0" class="article-item article-item-right">
                        <div class="gradient-border">
                            <a target="_self" [href]="item.targetUrl"><img class="img-left" [src]="item.targetUrl"
                                    [alt]="item.tile"></a>
                            <div class="content-left">
                                <a style="margin-left:-2px; " [href]="item.targetUrl">{{item.title}}</a>
                                <span>
                                    {{item.content}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label class="lbl-h1">Cơ hội để chúng ta gặp nhau</label>
        </div>
        <div id="SECTION4">
            <div class="ladi-container">
                <div class="div-recruit">
                    <div *ngFor="let item of tuyenDungList" class="div-recruit-s4">
                        <h2>{{item.postTitle}}</h2>
                        <div [innerHTML]="item?.description" class="table-wrapper">
                        </div>
                        <a class="button-9" role="button" [href]="item.url"> Chi
                            tiết</a>
                    </div>
                </div>
                <!-- <div *ngIf="!isShow" class="gradient"></div> -->
            </div>
            <!-- <button *ngIf="isShowBtn" class="btn-more" (click)="isShow = true; isShowBtn=false"
                data-view-id="pdp_view_description_button">Xem thêm 42 sản phẩm</button> -->
        </div>

        <div>
            <label class="lbl-h1">Cập nhật thông tin về Ngỗng</label>
        </div>
        <div id="SECTION6" class="ladi-section">
            <div class="ladi-container">
                <div class="img1-s6">
                    <label class="lbl-h2" style="color: white; font-weight: bold;">Tin tức và hoạt động</label>
                    <div class="address-cont">
                        <div style="width: 100%;" class="box-bao-chi grid__item">
                            <div *ngFor="let item of listTinTuc"
                                class="grid__item large--one-half medium--one-whole small--one-whole">
                                <div class="article-item article-item-half">
                                    <div class="article-img">
                                        <a target="_self" [href]="item.slug">
                                            <img style="border-radius: 15px 15px 0px 0px;" [src]="item.menuImage"
                                                [alt]="item.postTitle">
                                            <div class="overlay">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="article-info">
                                        <span style="color: #747e9d;">Tin Tức và Hoạt Động</span><br>
                                        <a [href]="item.slug" class="article-title">
                                            {{item.postTitle}}
                                        </a>
                                        <div class="article-desc">
                                            {{item.descripttion}}
                                        </div>
                                        <a [href]="item.slug" class="article-readmore">Xem thêm <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img2-s6">
                    <label class="lbl-h2" style="color: black; font-weight: bold;">Bản tin hàng tháng</label>
                    <div class="address-cont">
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>