<!--component html goes here -->
<app-header></app-header>
<div id="LADI-WRAPER">
    <div class="container">
        <div id="SECTION1">
            <div class="ladi-container">
                <div class="breadcrumb-small">
                    <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
                    <span aria-hidden="true">/</span>
                    <span>Tin tức</span>
                    <span aria-hidden="true">/</span>
                    <span>Tuyển dụng</span>
                </div>
            </div>
        </div>
        <label class="lbl-h1">Hành trình của Ngỗng</label>
        <div id="SECTION2">
            <div class="ladi-container">
                <section class="timeline">
                    <ol>
                        <li>
                            <div>
                                <time>1934</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                blanditiis praesentium
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi.
                                Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in,
                                pretium non nisi.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1940</time> Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor,
                                at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1943</time> In mattis elit vitae odio posuere, nec maximus massa varius.
                                Suspendisse varius volutpat mattis. Vestibulum id magna est.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1946</time> In mattis elit vitae odio posuere, nec maximus massa varius.
                                Suspendisse varius volutpat mattis. Vestibulum id magna est.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1956</time> In mattis elit vitae odio posuere, nec maximus massa varius.
                                Suspendisse varius volutpat mattis. Vestibulum id magna est.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1957</time> In mattis elit vitae odio posuere, nec maximus massa varius.
                                Suspendisse varius volutpat mattis. Vestibulum id magna est.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1967</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat
                                eget porta faucibus, euismod quis ante.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1977</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui
                                a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>1985</time> In mattis elit vitae odio posuere, nec maximus massa varius.
                                Suspendisse varius volutpat mattis. Vestibulum id magna est.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>2000</time> In mattis elit vitae odio posuere, nec maximus massa varius.
                                Suspendisse varius volutpat mattis. Vestibulum id magna est.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>2005</time> In mattis elit vitae odio posuere, nec maximus massa varius.
                                Suspendisse varius volutpat mattis. Vestibulum id magna est.
                            </div>
                        </li>
                        <li></li>
                    </ol>
                    <div class="arrows">
                        <button class="arrow arrow__prev disabled" disabled>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg"
                                alt="prev timeline arrow">
                        </button>
                        <button class="arrow arrow__next">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg"
                                alt="next timeline arrow">
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div>
            <label class="lbl-h1">Văn hóa nhà Ngỗng</label>
        </div>
        <div id="SECTION3" class="ladi-section">
            <div class="ladi-container">
                <div class="article-item article-item-left">
                    <div class="gradient-border">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                        <div class="content-left">
                            <a style="margin-left:-2px; " href="#">Trải nghiệm chân thực</a>
                            <span>
                                Gặp gỡ, lắng nghe câu chuyện người thật, việc thật tại các vùng sản xuất nông nghiệp bên
                                vững.<br>
                                Trải nghiệm "làm nông" cùng nông hộ.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="article-item article-item-right">
                    <div class="gradient-border">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                        <div class="content-left">
                            <a style="margin-left:-2px; " href="#">Khám phá mới lạ</a>
                            <span>
                                Góc nhìn mới lạ về nông nghiệp và sinh thái đa dạng của vùng nguyên liệu.<br>
                                Khám phá các địa điểm du lịch, lịch sử, văn hóa thú vị lân cận vùng nguyên liệu.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="article-item article-item-left">
                    <div class="gradient-border">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                        <div class="content-left">
                            <a style="margin-left:-2px; " href="#">Kết nối và yêu thương</a>
                            <span>
                                Tạm gác những bồn bệ ở phố thị để kết nối tự nhiên, với các thành viên trong gia đình,
                                và
                                với chính bản thân.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="article-item article-item-right">
                    <div class="gradient-border">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                        <div class="content-left">
                            <a style="margin-left:-2px; " href="#">Hiểu sẻ chia</a>
                            <span>
                                Hiểu hơn về Nông nghiệp bền vững cũng như tác động của nông nghiệp bền vững tới môi
                                trường
                                và cộng đồng.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label class="lbl-h1">Cơ hội để chúng ta gặp nhau</label>
        </div>
        <div id="SECTION4">
            <div class="ladi-container">
                <div class="div-recruit">
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                </div>

                <div class="div-recruit">
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                </div>

                <div class="div-recruit">
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                </div>

                <div class="div-recruit" *ngIf="isShow">
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                    <div class="div-recruit-s4">
                        <h2>06 Fresher Frontend PHP/MYSQL, HTML, CSS, JS - Phụ cấp 6-10M</h2>
                        <div class="table-wrapper">
                            <table class="fl-table">
                                <tbody>
                                    <tr>
                                        <td>Mức lương :</td>
                                        <td class="td2">6-10M</td>
                                    </tr>
                                    <tr>
                                        <td>Kinh nghiệm :</td>
                                        <td class="td2">0-6 tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Loại hình :</td>
                                        <td class="td2">Full-time</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng :</td>
                                        <td class="td2">6 người</td>
                                    </tr>
                                    <tr>
                                        <td>Địa điểm :</td>
                                        <td class="td2">Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Yêu cầu :</td>
                                        <td class="td2">Content 6</td>
                                    </tr>
                                    <tr>
                                        <td>Hạn nộp :</td>
                                        <td class="td2">31/08/2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button-9" role="button" href="/chi-tiet-tuyen-dung"> Chi
                                tiết</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isShow" class="gradient"></div>
            </div>
            <button *ngIf="isShowBtn" class="btn-more" (click)="isShow = true; isShowBtn=false"
                data-view-id="pdp_view_description_button">Xem thêm 42 sản phẩm</button>
        </div>

        <div id="SECTION5">
            <!-- <div class="paging">
                <ul class="page">
                    <li class="page__numbers"> 1</li>
                    <li class="page__numbers active">2</li>
                    <li class="page__numbers">3</li>
                    <li class="page__numbers">4</li>
                    <li class="page__numbers">5</li>
                    <li class="page__numbers">6</li>
                    <li class="page__dots">...</li>
                    <li class="page__numbers"> 10</li>
                </ul>
            </div> -->
        </div>

        <div>
            <label class="lbl-h1">Cập nhật thông tin về Ngỗng</label>
        </div>
        <div id="SECTION6" class="ladi-section">
            <div class="ladi-container">
                <div class="img1-s6">
                    <label class="lbl-h2" style="color: white; font-weight: bold;">Tin tức và hoạt động</label>
                    <div class="address-cont">
                        <div class="box-bao-chi grid__item">
                            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                                <div class="article-item article-item-half">
                                    <div class="article-img">
                                        <a target="_self" href="">
                                            <img style="border-radius: 15px 15px 0px 0px;"
                                                src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                                            <div class="overlay">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="article-info">
                                        <span style="color: #747e9d;">Tin Tức và Hoạt Động</span><br>
                                        <a href="" class="article-title">
                                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                                        </a>
                                        <div class="article-desc">

                                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489
                                            đường
                                            Hoàng Quốc Việt, TP Hà
                                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                                        </div>
                                        <a href="" class="article-readmore">Xem thêm <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                                <div class="article-item article-item-half">
                                    <div class="article-img">
                                        <a target="_self" href="">
                                            <img style="border-radius: 15px 15px 0px 0px;"
                                                src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                                            <div class="overlay">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="article-info">
                                        <span style="color: #747e9d;">Tin Tức và Hoạt Động</span><br>
                                        <a href="" class="article-title">
                                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                                        </a>
                                        <div class="article-desc">

                                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489
                                            đường
                                            Hoàng Quốc Việt, TP Hà
                                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                                        </div>
                                        <a href="" class="article-readmore">Xem thêm <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-bao-chi grid__item">
                            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                                <div class="article-item article-item-half">
                                    <div class="article-img">
                                        <a target="_self" href="">
                                            <img style="border-radius: 15px 15px 0px 0px;"
                                                src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                                            <div class="overlay">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="article-info">
                                        <span style="color: #747e9d;">Tin Tức và Hoạt Động</span><br>
                                        <a href="" class="article-title">
                                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                                        </a>
                                        <div class="article-desc">

                                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489
                                            đường
                                            Hoàng Quốc Việt, TP Hà
                                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                                        </div>
                                        <a href="" class="article-readmore">Xem thêm <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                                <div class="article-item article-item-half">
                                    <div class="article-img">
                                        <a target="_self" href="">
                                            <img style="border-radius: 15px 15px 0px 0px;"
                                                src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                                            <div class="overlay">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="article-info">
                                        <span style="color: #747e9d;">Tin Tức và Hoạt Động</span><br>
                                        <a href="" class="article-title">
                                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                                        </a>
                                        <div class="article-desc">

                                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489
                                            đường
                                            Hoàng Quốc Việt, TP Hà
                                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                                        </div>
                                        <a href="" class="article-readmore">Xem thêm <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-bao-chi grid__item">
                            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                                <div class="article-item article-item-half">
                                    <div class="article-img">
                                        <a target="_self" href="">
                                            <img style="border-radius: 15px 15px 0px 0px;"
                                                src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                                            <div class="overlay">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="article-info">
                                        <span style="color: #747e9d;">Tin Tức và Hoạt Động</span><br>
                                        <a href="" class="article-title">
                                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                                        </a>
                                        <div class="article-desc">

                                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489
                                            đường
                                            Hoàng Quốc Việt, TP Hà
                                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                                        </div>
                                        <a href="" class="article-readmore">Xem thêm <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                                <div class="article-item article-item-half">
                                    <div class="article-img">
                                        <a target="_self" href="">
                                            <img style="border-radius: 15px 15px 0px 0px;"
                                                src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                                            <div class="overlay">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="article-info">
                                        <span style="color: #747e9d;">Tin Tức và Hoạt Động</span><br>
                                        <a href="" class="article-title">
                                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                                        </a>
                                        <div class="article-desc">

                                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489
                                            đường
                                            Hoàng Quốc Việt, TP Hà
                                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                                        </div>
                                        <a href="" class="article-readmore">Xem thêm <i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img2-s6">
                    <label class="lbl-h2" style="color: black; font-weight: bold;">Bản tin hàng tháng</label>
                    <div class="address-cont">
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-img-s6">
                            <div class="gradient-border">
                                <a target="_self" href="#"><img class="img-left"
                                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                        alt=""></a>
                                <div class="content-left">
                                    <span style="font-size: 14px;">Tạp chí hàng tháng</span>
                                    <a style="margin-left:-2px; " href="#">Bản tin Coolmate tháng 06/2022</a>
                                    <span style="font-size: 16px;">
                                        <p>Vậy là Coolmate đã cùng nhau đi qua tháng 6 và kết thúc một nửa chặng đường
                                            của
                                            năm 2022. Cùng chúng mình nhìn lại xem tháng 6 của chúng mình có gì nhé!
                                        </p>
                                    </span>
                                    <button class="btn-kp">Tìm hiểu dự án</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>