<app-header #header></app-header>
<div class="container">
    <div class="breadcrumb-small">
        <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
        <span aria-hidden="true">/</span>
        <span>Đại lý - Hợp tác</span>
    </div>
    <div style="display: flex; margin-bottom: 30px;">
        <div id="SECTION1">
            <div class="title-content">
                <h2 style="font-weight: bold;">Chính sách đại lý</h2>
            </div>
            <div #content class="content"></div>
            <div class="like-comment">
                <iframe
                    src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=120&layout=button&action=like&size=small&share=true&height=65&appId"
                    width="120" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                <div class="fb-comments"
                    data-href="https://ngong.vn/blogs/chuyen-ngong/ruong-ruoi-va-chuyen-chon-giong-thuan-viet-st25"
                    data-width="" data-numposts="5" width="100%"></div>
            </div>
        </div>
        <div id="SECTION2">
            <div class="contact">
                <div class="regis-contact">
                    <div class="child-regis-contact">
                        <h3 style="color: #ffffff; font-weight: bold;">{{mode === 0 ?'Đăng ký chuyến đi':
                            'Bạn đang quan tâm đến dự án nào của Ngỗng? Vui lòng để lại thông tin để Ngỗng liên hệ với
                            bạn nhé!'}}</h3>
                        <input #name name="name" class="regis-name" type="text" placeholder="Họ và tên" value="">
                        <input #phone name="phone" class="regis-phone" type="text" placeholder="Số điện thoại" value="">
                        <input #email name="email" class="regis-email" type="email" placeholder="Email" value="">
                        <select *ngIf="mode !== 0" #projectSelect>
                            <option value="0">Select Project</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                        </select>
                        <input *ngIf="mode === 0" #addr name="name" class="regis-name" type="text" placeholder="Địa chỉ"
                            value="">
                        <textarea #message name="message" class="ladi-form-control"
                            placeholder="Bạn quan tâm đến chuyến đi nào?"></textarea>
                        <div class="article-schedule">
                            <button class="btn-kp" (click)="registOnClick()">Đăng ký</button>
                        </div>
                    </div>
                </div>
                <div class="img-right">
                    <a target="_self" [href]="rightBanner?.targetUrl"><img [src]="rightBanner?.imageUrl" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>