<app-header #header></app-header>
<div id="LADI-WRAPER">
    <div class="container">
        <div style="display: flex;">
            <div id="SECTION1">
                <div class="breadcrumb-small">
                    <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
                    <span aria-hidden="true">/</span>
                    <span>Đại lý - Hợp tác</span>
                </div>
                <div class="title-content">
                    <h2 style="font-weight: bold;">Chính sách đại lý</h2>
                </div>
                <div class="content">
                    <span>Với đam mê nông nghiệp và truyền truyền thống gia đình gắn bó với nông nghiệp được tiếp xúc
                        nhiều với nông dân, anh Bùi Ngọc Cường founder của Ngỗng quyết tâm theo học nông nghiệp tại Học
                        Viện Nông Nghiệp Việt Nam. Sau đó, Cường tiếp tục sang Hà Lan du học về phát triển bền vững với
                        mong muốn nông dân Việt Nam có thể sản xuất công nghiệp hóa , đưa khoa học kỹ thuật công nghệ
                        vào sản xuất giúp nông dân đỡ vất vả thoát cảnh bán mặt cho đất bán lưng cho trời, cải thiện thu
                        nhập.
                        Sau đó Cường tìm hiểu thêm về PGS - Hệ thống chứng nhận hữu cơ đảm bảo có sự tham gia-dành cho
                        các hộ nông dân và xin vào làm việc tại Hiệp hội nông nghiệp hữu cơ để hiểu hơn về bản chất,
                        cách thức vận hành, thanh tra giám sát, làm việc với nông hộ.
                    </span>
                </div>
                <div class="content-img">
                    <img class="img-one"
                        src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                        alt="">
                </div>
                <div class="title-img">
                    <i>Trang trại bò sữa vinamilk organic Đà Lạt</i>
                </div>
                <div class="content-bottom">
                    <span>
                        Với đam mê nông nghiệp và truyền truyền thống gia đình gắn bó với nông nghiệp được tiếp xúc
                        nhiều với nông dân, anh Bùi Ngọc Cường founder của Ngỗng quyết tâm theo học nông nghiệp tại Học
                        Viện Nông Nghiệp Việt Nam. Sau đó, Cường tiếp tục sang Hà Lan du học về phát triển bền vững với
                        mong muốn nông dân Việt Nam có thể sản xuất công nghiệp hóa , đưa khoa học kỹ thuật công nghệ
                        vào sản xuất giúp nông dân đỡ vất vả thoát cảnh bán mặt cho đất bán lưng cho trời, cải thiện thu
                        nhập.
                        Sau đó Cường tìm hiểu thêm về PGS - Hệ thống chứng nhận hữu cơ đảm bảo có sự tham gia-dành cho
                        các hộ nông dân và xin vào làm việc tại Hiệp hội nông nghiệp hữu cơ để hiểu hơn về bản chất,
                        cách thức vận hành, thanh tra giám sát, làm việc với nông hộ.
                    </span>
                </div>
                <div class="content-question">
                    <div class="title-q">
                        <h2>Vinamilk organic Đà Lạt ở đâu?</h2>
                    </div>
                    <span>
                        Sau đó Cường tìm hiểu thêm về PGS - Hệ thống chứng nhận hữu cơ đảm bảo có sự tham gia-dành cho
                        các hộ nông dân và xin vào làm việc tại Hiệp hội nông nghiệp hữu cơ để hiểu hơn về bản chất,
                        cách thức vận hành, thanh tra giám sát, làm việc với nông hộ.
                    </span>
                </div>
                <div class="like-comment">
                    <iframe
                        src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=120&layout=button&action=like&size=small&share=true&height=65&appId"
                        width="120" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <div class="fb-comments"
                        data-href="https://ngong.vn/blogs/chuyen-ngong/ruong-ruoi-va-chuyen-chon-giong-thuan-viet-st25"
                        data-width="" data-numposts="5" width="100%"></div>
                </div>
            </div>
            <div id="SECTION2">
                <div class="contact">
                    <div class="regis-contact">
                        <div class="child-regis-contact">
                            <h3 style="color: #ffffff; font-weight: bold;">Đăng ký chuyến đi</h3>
                            <input name="name" class="regis-name" type="text" placeholder="Họ và tên" value="">
                            <input name="phone" class="regis-phone" type="number" placeholder="Số điện thoại" value="">
                            <input name="email" class="regis-email" type="email" placeholder="Email" value="">
                            <textarea name="message" class="ladi-form-control"
                                placeholder="Bạn quan tâm đến chuyến đi nào?"></textarea>
                        </div>
                    </div>
                    <div class="img-right">
                        <img src="../../../../assets/image/main/new4.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>