<div class="footer">
    <div class="ft-left">
        <div class="box-goose">
            <img class="img-goose" src="../../../../assets/image/main/Logo-trang.png" />
        </div>
        <div *ngIf="isMobile" class="line-while" style="width: 80%; margin-bottom: 5px;"></div>
        <div *ngIf="isMobile" class="line-while" style="width: 80%; margin-bottom: 5px;"></div>
        <strong>CÔNG TY CỔ PHẦN THỰC PHẨM AN BIÊN</strong>
        <div class="text-near-logo">
            <strong>Người đại diện: Bùi Ngọc Cường</strong><br>
            <strong>Địa chỉ:</strong> số 74 Trường Chinh, Phường Lãm Hà, Quận Kiến An, Thành phố Hải Phòng, Việt
            Nam<br><br>
            <strong>Showroom</strong><br>
            <strong>Hà Nội:</strong> 489 Hoàng Quốc Việt, Cầu Giấy, Hà Nội<br>
            <strong>TPHCM:</strong> 284/5B Lũy Bàn Bích, Phường Hòa Thạnh Quận Tân Phú<br>
            <strong>Điện Thoại:</strong> 0945348008<br>
            <strong>Email:</strong> info@ngong.vn
        </div>
    </div>
    <div class="ft-box-right">
        <div class="ft-center">
            <div class="ft-menu">
                <strong class="footer-title text-xs font-bold">CHĂM SÓC KHÁCH HÀNG</strong>
                <ul class="ft-menu-nav no-bullets">
                    <li>
                        <a href="/pages/trung-tam-ho-tro-khach-hang">Trung tâm hỗ trợ khách hàng</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-van-chuyen">Chính Sách Vận Chuyển</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-doi-tra">Chính Sách Đổi Trả</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-gia-ca-va-thanh-toan">Chính Sách Giá Cả Và Thanh Toán</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-bao-mat">Chính sách bảo mật thông tin</a>
                    </li>
                </ul>
            </div>
            <div class="ft-menu">
                <strong class="footer-title text-xs font-bold">GIỚI THIỆU</strong>
                <ul class="ft-menu-nav no-bullets">
                    <li>
                        <a href="/pages/trung-tam-ho-tro-khach-hang">Về Ngỗng</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-van-chuyen">Sản phẩm của Ngỗng</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-doi-tra">Dự Án</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-gia-ca-va-thanh-toan">Thông tin tuyển dụng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ft-right">
            <div class="ft-menu">
                <strong class="footer-title text-xs font-bold">MUA Ở ĐÂU?</strong>
                <ul class="ft-menu-nav no-bullets">
                    <li>
                        <a href="/pages/trung-tam-ho-tro-khach-hang">Mua ngay tại ngong.vn</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-van-chuyen">Mua qua hệ thống cửa hàng, Đại lý, CTV</a>
                    </li>
                    <li>
                        <a href="/pages/chinh-sach-doi-tra">Mua tại kênh bán hàng online</a>
                    </li>
                </ul>
                <div class="footer-social-icon">
                    <a href="https://shopee.vn/gaongong"><img
                            src="//theme.hstatic.net/200000170631/1000660112/14/ft-social-icon-1.png?v=3046"
                            alt="icon"></a>
                    <a href="https://tiki.vn/cua-hang/cong-ty-co-phan-thuc-pham-an-bien"><img
                            src="//theme.hstatic.net/200000170631/1000660112/14/ft-social-icon-2.png?v=3046"
                            alt="icon"></a>
                    <a href="https://www.facebook.com/www.ngong.vn"><img style="width: 60px;"
                            src="../../../../assets/image/icons/facebook-icon-1024x1024.png" alt="icon"></a>
                </div>
                <strong class="footer-title text-xs font-bold">Kết Nối</strong><br>
                <div style="display: flex;align-items: end; margin-bottom: 10px;">
                    <img style="height: 50px;" src="../../../../assets/image/main/bocongthuong.png">
                    <img style="height: 30px;margin-left: 3px;" src="../../../../assets/image/main/dmca.png">
                </div>
                <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/www.ngong.vn"
                    data-tabs="timeline" data-width="" data-height="150" data-small-header="true"
                    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"
                    fb-xfbml-state="rendered"
                    fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=330px&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fwww.ngong.vn&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline&amp;width=">
                    <span style="vertical-align: bottom; width: 330px; height: 150px;">
                        <iframe name="f38f944c4f0ac5c" width="1000px" height="150px"
                            data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin"
                            frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                            allow="encrypted-media"
                            src="https://www.facebook.com/v8.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df8deb27e4924f%26domain%3Dngong.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fngong.vn%252Ff9dde14796b12c%26relation%3Dparent.parent&amp;container_width=313&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fwww.ngong.vn&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline&amp;width="
                            style="border: none; visibility: visible; width: 330px; height: 150px;">
                        </iframe>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>