<div class="footer">
    <div class="ft-left">
        <div class="box-goose">
            <a target="_self" [href]="footer?.logo.targetUrl"><img class="img-goose"
                    [src]="footer?.logo.imageUrl" /></a>
        </div>
        <div *ngIf="isMobile" class="line-while" style="width: 80%; margin-bottom: 5px;"></div>
        <div *ngIf="isMobile" class="line-while" style="width: 80%; margin-bottom: 5px;"></div>
        <strong>CÔNG TY CỔ PHẦN THỰC PHẨM AN BIÊN</strong>
        <div class="text-near-logo">
            <strong>Người đại diện: Bùi Ngọc Cường</strong><br>
            <strong>Địa chỉ:</strong> số 74 Trường Chinh, Phường Lãm Hà, Quận Kiến An, Thành phố Hải Phòng, Việt
            Nam<br><br>
            <strong>Showroom</strong><br>
            <strong>Hà Nội:</strong> 489 Hoàng Quốc Việt, Cầu Giấy, Hà Nội<br>
            <strong>TPHCM:</strong> 284/5B Lũy Bàn Bích, Phường Hòa Thạnh Quận Tân Phú<br>
            <strong>Điện Thoại:</strong> 0945348008<br>
            <strong>Email:</strong> info@ngong.vn
        </div>
    </div>
    <div class="ft-box-right">
        <div class="ft-center">
            <div class="ft-menu">
                <strong class="footer-title text-xs font-bold">{{footer?.cskh.title}}</strong>
                <ul class="ft-menu-nav no-bullets">
                    <li *ngFor="let item of footer?.cskh.content">
                        <a [href]="item.url">{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="ft-menu">
                <strong class="footer-title text-xs font-bold">{{footer?.introduce.title}}</strong>
                <ul class="ft-menu-nav no-bullets">
                    <li *ngFor="let item of footer?.introduce.content">
                        <a [href]="item.url">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ft-right">
            <div class="ft-menu">
                <strong class="footer-title text-xs font-bold">{{footer?.buyWhere.title}}</strong>
                <ul class="ft-menu-nav no-bullets">
                    <li *ngFor="let item of footer?.buyWhere.content">
                        <a [href]="item.url">{{item.name}}</a>
                    </li>
                </ul>
                <div class="footer-social-icon">
                    <a *ngFor="let item of buyList" [href]="item.targetUrl"><img [src]="item.imageUrl" alt="icon"></a>
                </div>
                <strong class="footer-title text-xs font-bold">Kết Nối</strong><br>
                <div style="display: flex;align-items: end; margin-bottom: 10px;">
                    <img style="height: 50px;" src="../../../../assets/image/main/bocongthuong.png">
                    <img style="height: 30px;margin-left: 3px;" src="../../../../assets/image/main/dmca.png">
                </div>
                <!-- <div #fbPage></div> -->
                <div class="fb-page" data-href="https://www.facebook.com/www.ngong.vn" data-tabs="timeline"
                    data-width="330" data-height="200" data-small-header="false" data-adapt-container-width="true"
                    data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/www.ngong.vn" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/www.ngong.vn">NGỖNG</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</div>