.login {
    .title {
        text-align: center;
    }

    .error-box {
        width: 100%;
        padding: 10px;

        .error-message {
            color: red;
        }
    }

    .summit {
        width: 100%;
        padding: 10px;
        text-align: center;

        .p-float-label {
            margin: 30px 10px;

            input {
                width: 100%;
                margin-left: 0;
                border-radius: 15px;
            }
        }

        button {
            background-color: #c2650f;
            color: #fff;
            width: 100%;
            height: 40px;
            font-size: 18px;
            border: none;
            border-radius: 20px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        a {
            color: #0d6efd;
            cursor: pointer;

            &:hover {
                color: #87b83b;
            }
        }
    }
}

button {
    min-width: 10rem;
    margin-right: .5rem;
}

@media screen and (max-width: 960px) {
    button {
        width: 100%;
        margin-bottom: .5rem;
    }
}

:host ::ng-deep {
    .p-toast-message-custom {
        background-color: #E1CFE7;
        border: solid #8A427A;
        border-width: 0 0 0 6px;
        color: #2c1e30;

        .p-toast-icon-close {
            color: #2c1e30;
        }
    }
}