<app-header #header [banner]="true"></app-header>
<div class="home-slide">
    <ngb-carousel *ngIf="bannerList">
        <ng-template ngbSlide interval="1000" *ngFor="let item of bannerList">
            <div class="picsum-img-wrapper" (click)="onClick(item.targetUrl)">
                <img [src]="item.imageUrl" alt="">
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="main container">
    <label class="lbl-title">Sản Phẩm Khuyến Mãi</label>
    <div class="line"></div>
    <div class="line"></div>
    <div class="sale" style="width: 100%;">
        <app-carousel [datas]="datasSale" (eventClick)="header.visibleSidebar = true" [product]="true"
            [responsiveOptions]="responsiveOptions"></app-carousel>
    </div>
    <label class="lbl-title">Sản Phẩm</label>
    <div class="line"></div>
    <div class="line"></div>
    <div class="products">
        <app-img-product *ngFor="let item of productList" [data]="item" (eventClick)="addCart()"></app-img-product>
    </div>
    <div class="image">
        <a target="_self" [href]="bannerMiddlePage!.targetUrl"><img [src]="bannerMiddlePage?.imageUrl" alt=""></a>
    </div>
    <div class="image so-gao-desktop">
        <div class="so-gao-desktop-image"><img [src]="sogao?.imgSoGao" alt=""></div>
        <div style="width: 62%;position: relative;">
            <div style="position: relative; ">
                <div class="so-gao-header">
                    <div class="so-gao-header-item"><img [src]="sogao?.feature[0]?.imageUrl" alt=""
                            class="so-gao-header-img"><br> {{sogao?.feature[0].title}}<br>{{sogao?.feature[0]?.content}}
                    </div>
                    <div class="so-gao-header-item"><img [src]="sogao?.feature[1]?.imageUrl" alt=""
                            class="so-gao-header-img"><br> {{sogao?.feature[1].title}}<br>{{sogao?.feature[1]?.content}}
                    </div>
                    <div class="so-gao-header-item"><img [src]="sogao?.feature[2]?.imageUrl" alt=""
                            class="so-gao-header-img"><br>
                        {{sogao?.feature[2].title}}<br>{{sogao?.feature[2].content}} </div>
                </div>
                <div class="dat-hang-so-gao">
                    <div class="dat-hang-so-gao-content">
                        <div class="so-gao-dk">
                            Sổ Gạo <div class="line" style="width: 100px;"></div>
                            <div class="line" style="width: 100px;"></div>
                        </div>
                        <div><button class="so-gao-btn">ĐẶT NGAY</button></div>
                    </div>
                    <div class="so-gao-content">
                        {{sogao?.content}}<br>
                        .......................................<br>
                        .......................................
                    </div>
                </div>
                <div class="so-gao-bong-gao"><img src="../../../../assets/image/main/anh bong gao - duoi jpg.png" alt=""
                        class="so-gao-bong-gao-img"></div>
            </div>
        </div>
    </div>
    <div class="title-color">
        <label class="lbl-title">Dự Án Của Ngỗng</label>
    </div>
    <div class="w100" style="margin-top: 20px; margin-bottom: 50px;">
        <div class="w100" style="width: 95%; margin-left: 27px;">
            <div class="w100 project">
                <div *ngIf="projectOther[0]" class="w100" style="margin-right: 25px;">
                    <a href="/du-an-trung-vang">
                        <div class="trung-vang"
                            [ngStyle]="{ 'background-image': 'url(' + projectOther[0].imageUrl + ')'}">
                            <div>{{projectOther[0]?.name}}</div>
                        </div>
                    </a>
                </div>
                <div *ngIf="projectOther[1]" class="w100 canva">
                    <a *ngIf="projectOther[1]" href="/vuon-dong-hanh">
                        <div class="dong-hanh"
                            [ngStyle]="{ 'background-image': 'url(' + projectOther[1].imageUrl + ')'}">
                            <div>{{projectOther[1]?.name}}</div>
                        </div>
                    </a>
                    <a *ngIf="projectOther[2]" href="/canh-dong-chia-se">
                        <div class="canh-dong"
                            [ngStyle]="{ 'background-image': 'url(' + projectOther[2].imageUrl + ')'}">
                            <div>{{projectOther[2]?.name}}</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="w100" style="width: 100%;">
                <a href="/chuyen-di-cua-ngong">
                    <div class="chuyen-di" [ngStyle]="{ 'background-image': 'url(' + projectChuyenDi?.imageUrl + ')'}">
                        <div>{{projectChuyenDi?.name}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <label class="lbl-title">Tin Mới Nhất Của Ngỗng</label>
    <div class="line"></div>
    <div class="line"></div>
    <div class="w100" style="margin-bottom: 50px; margin-top: 30px;padding-left: 25px;padding-right: 40px; ">
        <div class="w100">
            <div class="w100 news-content">
                <div class="w100 news-content-left">
                    <a target="_self" href="/chi-tiet-tin-tuc">
                        <div class="nong-san"
                            [ngStyle]="{ 'background-image': 'url(' + postNewsList![0].menuImage + ')'}">
                            <div>
                                <span class="title-nong-san">{{postNewsList![0].postTitle}}</span><br>
                                <span>{{postNewsList![0].description}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w100 news-content-right">
                    <div class="w100 news-content-right-img">
                        <a target="_self" href="/chi-tiet-tin-tuc"><img class="right-img"
                                [src]="postNewsList![1].menuImage" alt=""></a>
                        <div class="txt-news">
                            <div><a target="_self" href="/chi-tiet-tin-tuc">{{postNewsList![1].postTitle}}</a></div>
                            <span>{{postNewsList![1].description}}</span>
                        </div>
                    </div>
                    <div class="w100 news-content-right-img" style="height: 30%;">
                        <a target="_self" href="/chi-tiet-tin-tuc"><img class="right-img"
                                [src]="postNewsList![2].menuImage" alt=""></a>
                        <div class="txt-news">
                            <div><a target="_self" href="/chi-tiet-tin-tuc">{{postNewsList![2].postTitle}}</a></div>
                            <span>{{postNewsList![2].description}}</span>
                        </div>
                    </div>
                    <div class="w100 news-content-right-img" style="height: 30%;">
                        <a target="_self" href="/chi-tiet-tin-tuc"><img class="right-img"
                                [src]="postNewsList![3].menuImage" alt=""></a>
                        <div class="txt-news">
                            <div><a target="_self" href="/chi-tiet-tin-tuc">{{postNewsList![3].postTitle}}</a></div>
                            <span>{{postNewsList![3].description}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="title-color">
        <label class="lbl-title">Feedback Từ Khách Hàng</label>
    </div>
    <div style="width: 100%;" class="member">
        <app-carousel [feedback]="true" [numVisible]="3" [datas]="imagesMember"
            [responsiveOptions]="responsivefeedback">
        </app-carousel>

    </div>
    <div class="title-color">
        <label class="lbl-title">Đối Tác Chiến Lược Của Ngỗng</label>
    </div>
    <div class="partner-box">
        <app-carousel [i_con]="true" [numVisible]="numVisible" [datas]="partnerList"
            [responsiveOptions]="responsiveOptions">
        </app-carousel>
    </div>
</div>
<app-footer></app-footer>