/* header-top-desktop */

.header-top-desktop {
    background-color: #87b83b;
    height: 60px;
    padding: 13px;
}

.header-top-desktop .lbl-header {
    float: left;
    margin-top: 4px;
}

.header-top-desktop .header-func .mua-o-dau,
.header-top-desktop .header-func .tai-khoan {
    height: 30px;
    min-height: 30px;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.header-top-desktop .header-func img {
    height: 35px;
    min-height: 30px;
    margin-top: 8px;
    margin-left: 20px;
}

.header-top-desktop .header-func .notification {
    height: 58px !important;
    min-height: 58px !important;
    margin-top: 0 !important;
    margin-left: 15px !important;
    margin-right: -8px;
}

.header-top-desktop .header-func {
    display: flex;
    justify-content: right;
    margin-top: -10px;
}

.header-top-desktop .header-func .mua-o-dau-link,
.header-top-desktop .header-func .header-link {
    margin-left: 20px;
}

.header-top-desktop .header-func a,
.header-top-desktop .header-func .header-link {
    text-align: center;
    color: #fff;
}

.header-top-desktop .header-func a,
.header-top-desktop .header-func .header-link {
    text-align: center;
    color: #fff;
}

/* header-desktop */

.header-desktop {
    min-height: 80px;
    box-shadow: 0px 6px 7px 0px rgb(145 147 150 / 75%);
    background-color: rgba(255, 255, 255, 90%);
    display: flex;
    position: inherit;
    z-index: 999;
    width: 100%;
}

.header-desktop.banner {
    position: absolute;
}


.header-desktop.scrolling {
    position: fixed;
    top: 0;
    background-color: #87b83b;
    animation: scroll 0.5s ease forwards;
}

@keyframes scroll {
    from {
        opacity: 0;
        transform: scaleY(0.98) translateY(-10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.header-desktop.scrolling .header-logo {
    margin: 0px 10px;
}

.header-desktop.scrolling .header-logo img {
    height: 80px;
    min-height: 80px;
}

.header-logo {
    margin: 9px 30px;
    float: left;
}

.header-logo img {
    height: 60px;
    min-height: 60px;
}

/* button search */

.header-top-desktop .searchBox {
    transform: translate(23%, 9%);
    height: 43px;
    padding: 3px;
}

.header-top-desktop .searchButton {
    height: 30px;
    border-radius: 50%;
    background: #87b83b;
    border: 0px solid #87b83b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    width: 30px;
    margin-top: 4px;
    position: absolute;
    right: 8px;
}

.header-top-desktop .searchInput {
    border: none;
    outline: none;
    float: left;
    padding: 0;
    color: #000;
    font-size: 16px;
    transition: 1s;
    line-height: 40px;
    width: 240px;
    border-radius: 20px;
    background: #fff;
    height: 38px;
    padding-left: 10px;
    margin-left: 50px;
}

.header-top-desktop .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

/* header-moble */


.header-mobile,
.header-top-mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    .header-desktop,
    .header-top-desktop {
        display: none;
    }

    .header-mobile,
    .header-top-mobile {
        display: block;
    }

    .header-mobile {
        position: relative;
    }

    .header-top-mobile {
        background-color: #87b83b;
        height: 30px;
        text-align: center;
        padding: 3px;
    }

    .header-mobile .hd-logo-mobile {
        height: 40px;
        position: absolute;
        top: 2px;
        left: 50%;
    }
}


/* product-cart */

.product-cart {
    width: 100%;
}

.product-cart .product_image {
    display: flex;
    padding: 10px;
}

.product-cart .product_image a {
    margin-right: 10px;
}

.product-cart .product_image a img {
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.product-cart .product_image .item-content {
    width: 100%;
}

.product-cart .product_image .item-content .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product-cart .product_image .item-content .content a {
    color: inherit;
}

.product-cart .product_image .item-content .content a:hover {
    color: #87b83b;
}

.product-cart .product .total {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-top: 1px solid #ccc;
}

.product-cart button {
    height: 40px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

/* button-account */
.button-account .p-button-outlined {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #87b83b;
}

.account-content span {
    margin: 5px 0;
    cursor: pointer;
}

.account-content a {
    color: #000;
    cursor: pointer;
}

.account-content a.logout {
    color: #87b83b;
    cursor: pointer;
}

.btn-input-number {
    background-color: rgb(216, 98, 52) !important;
    border-color: rgb(216, 98, 52) !important;
}

.p-inputnumber-input {
    text-align: center;
}