<app-header></app-header>
<div class="container news">
    <div class="breadcrumb-small">
        <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
        <span aria-hidden="true">/</span>
        <span>Báo chí viết gì về Ngỗng</span>
    </div>
    <label class="lbl-h1" style="margin-top: 20px;">BÁO CHÍ VIẾT GÌ VỀ NGỖNG</label>
    <div style="margin-left: -30px">
        <div class="box-bao-chi grid__item">
            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                <div class="article-item article-item-half">
                    <div class="article-img">
                        <a target="_self" href="">
                            <img src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                            <div class="overlay">
                            </div>
                        </a>
                    </div>
                    <div class="article-info">
                        <a href="" class="article-title">
                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                        </a>
                        <div class="article-desc">

                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489 đường
                            Hoàng Quốc Việt, TP Hà
                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                        </div>
                        <a href="" class="article-readmore">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                <div class="article-item article-item-half">
                    <div class="article-img">
                        <a target="_self" href="">
                            <img src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                            <div class="overlay">
                            </div>
                        </a>
                    </div>
                    <div class="article-info">
                        <a href="" class="article-title">
                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                        </a>
                        <div class="article-desc">

                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489 đường
                            Hoàng Quốc Việt, TP Hà
                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                        </div>
                        <a href="" class="article-readmore">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                <div class="article-item article-item-half">
                    <div class="article-img">
                        <a target="_self" href="">
                            <img src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                            <div class="overlay">
                            </div>
                        </a>
                    </div>
                    <div class="article-info">
                        <a href="" class="article-title">
                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                        </a>
                        <div class="article-desc">

                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489 đường
                            Hoàng Quốc Việt, TP Hà
                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                        </div>
                        <a href="" class="article-readmore">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="grid__item large--one-half medium--one-whole small--one-whole">
                <div class="article-item article-item-half">
                    <div class="article-img">
                        <a target="_self" href="">
                            <img src="//file.hstatic.net/200000170631/article/ngong-tren-bao-nong-nghiep-viet-nam_784163604a1a4abcab95470302e0c885_large.jpg"
                                alt="Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt">
                            <div class="overlay">
                            </div>
                        </a>
                    </div>
                    <div class="article-info">
                        <a href="" class="article-title">
                            Chàng Trai Đặt Mục Tiêu Bán Sổ Gạo Cho Hàng Vạn Dân Việt
                        </a>
                        <div class="article-desc">

                            Tấm sổ gạo của Bùi Ngọc Cường - Giám đốc Công ty CP Thực Phẩm An Biên (489 đường
                            Hoàng Quốc Việt, TP Hà
                            Nội) có sự kết nối với quá khứ bằng bức tranh cổ động các nhân vật đại di...

                        </div>
                        <a href="" class="article-readmore">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <span class="show-news article-readmore">Xem thêm</span>
            </div>
        </div>
        <div class="box-tin-tuc grid__item">
            <div style="margin: 10px 0 10px 0;border: 1px solid #ccc;padding: 5px;">
                <div style="position: sticky; height: 635px; top: 80px; background: #fff;">
                    <div style="border-bottom: 2px solid #790505; margin-bottom: 10px; text-align: center;">
                        <label style="font-size: 22px; font-weight: bold;">Bài Viết Xem Nhiều</label>
                    </div>
                    <div *ngFor="let item of listTinTuc; let i = index"
                        style="display: flex;margin-bottom: 10px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                        <div class="ribbon down" style="--color: #fd9c2e;">
                            <div class="content">
                                {{i + 1}}
                            </div>
                        </div>
                        <span>
                            {{item}}
                        </span>
                    </div>
                </div>
                <img style="width: 98%;" src="../../../../assets/image/main/new4.png" />
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>