<app-header></app-header>
<div class="main-content">
    <div class="body_background ladi-section">
        <div class="ladi-section-background"></div>
    </div>
    <div class="section ladi-section">
        <a target="_self" [href]="project!.trangChuDuAn.banner.targetUrl">
            <div class="ladi-section-background"
                [ngStyle]="{ 'background-image': 'url(' + project!.trangChuDuAn.banner!.imageUrl + ')'}">
            </div>
        </a>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="breadcrumb-small">
                <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
                <span aria-hidden="true">/</span>
                <span>Dự án</span>
            </div>
        </div>
        <div style="margin-bottom: 60px; width: 100%;">
            <p style="margin-bottom: 8px;">
                <span style="font-size: 18px;">
                    <span>
                        <i>{{project!.trangChuDuAn.moDau}}</i>
                    </span>
                </span>
            </p>

            <!-- Cánh đồng sẻ chia -->
            <div *ngFor="let item of projectList; let i = index">
                <div *ngIf="i % 2 === 0" class="gradient-border">
                    <div class="img-right-1">
                        <a target="_self" [href]="item.url"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                                alt=""></a>
                    </div>
                    <div class="content-left">
                        <a target="_self" style="margin-left:-2px; " [href]="item.url">{{item.name}}</a>
                        <span style="font-size: 16px;">
                            <i>{{item.description}}</i>
                        </span>
                        <button class="btn-kp" (click)="goToProject(item.url)">Tìm hiểu dự án</button>
                    </div>
                </div>
                <!-- Chuyến đi của ngỗng -->
                <div *ngIf="i % 2 !== 0" class="gradient-border">
                    <div class="content-right">
                        <a target="_self" [href]="item.url">{{item.name}}</a>
                        <span style="font-size: 16px;">
                            <i>{{item.description}}</i>
                        </span>
                        <button class="btn-kp" (click)="goToProject(item.url)">Tìm hiểu dự án</button>
                    </div>
                    <a target="_self" [href]="item.url"><img class="img-right"
                            src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                            alt=""></a>
                </div>
            </div>
            <div>
                <!-- Tin tức về dự án của Ngỗng -->
                <div class="news-project ladi-element">
                    <h3 class="ladi-headline">Tin tức về dự án của Ngỗng<br></h3>
                </div>
                <div style="text-align: center; display: inline-block;">
                    <ng-container>
                        <div *ngFor="let item of tintucListDisplay" class="article-item article-item-list">
                            <div class="article-image">
                                <a target="_self" [href]="item.url"><img [src]="item!.menuImage"></a>
                            </div>
                            <div class="article-info">
                                <a target="_self" [href]="item.url" class="article-title">
                                    {{item.postTitle}}
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <button *ngIf="isShowBtn" class="btn-more" (click)="onShow()"
                    data-view-id="pdp_view_description_button">Xem thêm {{tintucList.length - tintucListDisplay.length}}
                    tin tức</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>