<app-header></app-header>
<div class="main-content">
    <div class="body_background ladi-section">
        <div class="ladi-section-background"></div>
    </div>
    <div class="section ladi-section">
        <div class="ladi-section-background"></div>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="breadcrumb-small">
                <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
                <span aria-hidden="true">/</span>
                <span>Dự án</span>
            </div>
        </div>
        <div style="margin-bottom: 60px;">
            <p style="margin-bottom: 8px;">
                <span style="font-size: 18px;">
                    <span>
                        <i>Với đam mê nông nghiệp và truyền truyền thống gia đình gắn bó với nông nghiệp được tiếp xúc
                            nhiều với nông dân, anh <b>Bùi Ngọc Cường founder</b> của Ngỗng quyết tâm theo học nông
                            nghiệp tại Học Viện Nông Nghiệp Việt
                            Nam. Sau đó, Cường tiếp tục sang Hà Lan du học về phát triển bền vững với mong muốn nông dân
                            Việt Nam có thể sản xuất công nghiệp hóa , đưa khoa học kỹ thuật công nghệ vào sản xuất giúp
                            nông dân đỡ vất vả thoát cảnh
                            bán mặt cho đất bán lưng cho trời, cải thiện thu nhập.</i>
                    </span>
                </span>
            </p>

            <!-- Cánh đồng sẻ chia -->
            <div>
                <div class="gradient-border">
                    <div class="img-right-1">
                        <a target="_self" href="#"><img class="img-left"
                            src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                            alt=""></a>
                    </div>
                    <div class="content-left">
                        <a style="margin-left:-2px; " href="#">Cánh đồng sẻ chia</a>
                        <span style="font-size: 16px;">
                            <i>Với đam mê nông nghiệp và truyền truyền thống gia đình gắn bó với nông nghiệp được tiếp
                                xúc nhiều với nông dân, anh <b>Bùi Ngọc Cường founder</b> của Ngỗng quyết tâm theo học
                                nông nghiệp tại Học Viện Nông Nghiệp Việt
                                Nam. Sau đó, Cường tiếp tục sang Hà Lan du học về phát triển bền vững với mong muốn nông
                                dân Việt Nam có thể sản xuất công nghiệp hóa , đưa khoa học kỹ thuật công nghệ vào sản
                                xuất giúp nông dân đỡ vất vả thoát cảnh
                                bán mặt cho đất bán lưng cho trời.</i>
                        </span>
                        <button class="btn-kp">Tìm hiểu dự án</button>
                    </div>
                </div>

                <!-- Chuyến đi của ngỗng -->
                <div class="gradient-border">
                    <div class="content-right">
                        <a href="/chuyen-di-cua-ngong">Chuyến đi của ngỗng</a>
                        <span style="font-size: 16px;">
                            <i>Với đam mê nông nghiệp và truyền truyền thống gia đình gắn bó với nông nghiệp được tiếp
                                xúc nhiều với nông dân, anh <b>Bùi Ngọc Cường founder</b> của Ngỗng quyết tâm theo học
                                nông nghiệp tại Học Viện Nông Nghiệp Việt
                                Nam. Sau đó, Cường tiếp tục sang Hà Lan du học về phát triển bền vững với mong muốn nông
                                dân Việt Nam có thể sản xuất công nghiệp hóa , đưa khoa học kỹ thuật công nghệ vào sản
                                xuất giúp nông dân đỡ vất vả thoát cảnh
                                bán mặt cho đất bán lưng cho trời.</i>
                        </span>
                        <button class="btn-kp">Tìm hiểu dự án</button>
                    </div>
                    <a target="_self" href="#"><img class="img-right"
                            src="https://file.hstatic.net/200000170631/file/canhngongdonghanhcungnongdansinhthai__12__5b1dc0e746084e3e9b8a9ad6ee545100_grande.jpg"
                            alt=""></a>
                </div>

                <!-- Vườn đồng hành -->
                <div class="gradient-border">
                    <div class="img-right-1">
                        <a target="_self" href="#"><img class="img-left"
                                src="https://file.hstatic.net/200000170631/file/chatluongnongsan-nanglucsanxuat__4__2fa8a750c2854db1a31de717fbfac80d_grande.jpg"
                                alt=""></a>
                    </div>
                    <div class="content-left">
                        <a style="margin-left:-2px;" href="#">Vườn đồng hành</a>
                        <span style="font-size: 16px;">
                            <i>Với đam mê nông nghiệp và truyền truyền thống gia đình gắn bó với nông nghiệp được tiếp
                                xúc nhiều với nông dân, anh <b>Bùi Ngọc Cường founder</b> của Ngỗng quyết tâm theo học
                                nông nghiệp tại Học Viện Nông Nghiệp Việt
                                Nam. Sau đó, Cường tiếp tục sang Hà Lan du học về phát triển bền vững với mong muốn nông
                                dân Việt Nam có thể sản xuất công nghiệp hóa , đưa khoa học kỹ thuật công nghệ vào sản
                                xuất giúp nông dân đỡ vất vả thoát cảnh
                                bán mặt cho đất bán lưng cho trời.</i>
                        </span>
                        <button class="btn-kp">Tìm hiểu dự án</button>
                    </div>
                </div>

                <!-- Dự án trứng vàng -->
                <div class="gradient-border">
                    <div class="content-right">
                        <a target="_self" href="#">Dự án trứng vàng</a>
                        <span style="font-size: 16px;">
                            <i>Với đam mê nông nghiệp và truyền truyền thống gia đình gắn bó với nông nghiệp được tiếp
                                xúc nhiều với nông dân, anh <b>Bùi Ngọc Cường founder</b> của Ngỗng quyết tâm theo học
                                nông nghiệp tại Học Viện Nông Nghiệp Việt
                                Nam. Sau đó, Cường tiếp tục sang Hà Lan du học về phát triển bền vững với mong muốn nông
                                dân Việt Nam có thể sản xuất công nghiệp hóa , đưa khoa học kỹ thuật công nghệ vào sản
                                xuất giúp nông dân đỡ vất vả thoát cảnh
                                bán mặt cho đất bán lưng cho trời.</i>
                        </span>
                        <button class="btn-kp">Tìm hiểu dự án</button>
                    </div>
                    <a target="_self" href="#"><img class="img-right"
                            src="https://ketoanviettin.com/wp-content/uploads/2019/09/ngong-de-trung-vang-2.jpg"
                            alt=""></a>
                </div>

                <!-- Tin tức về dự án của Ngỗng -->
                <div class="news-project ladi-element">
                    <h3 class="ladi-headline">Tin tức về dự án của Ngỗng<br></h3>
                </div>
                <div style="text-align: center; display: inline-block;">
                    <div *ngFor="let item of tintucList" class="article-item article-item-list">
                        <div class="article-image">
                            <a target="_self" href="/chi-tiet-tin-tuc"><img [src]="item"></a>
                        </div>
                        <div class="article-info">
                            <a target="_self" href="/chi-tiet-tin-tuc" class="article-title">
                                Tin nông nghiệp VN số 1 ruộng rươi
                            </a>
                            <div class="article-title-content">
                                Gạo ST25 sát trắng ruộng rươi nguyên cám 100%
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="isShow">
                        <div *ngFor="let item of tintucList" class="article-item article-item-list">
                            <div class="article-image">
                                <a target="_self" href="/chi-tiet-tin-tuc"><img [src]="item"></a>
                            </div>
                            <div class="article-info">
                                <a target="_self" href="/chi-tiet-tin-tuc" class="article-title">
                                    Tin nông nghiệp VN số 1 ruộng rươi
                                </a>
                                <div class="article-title-content">
                                    Gạo ST25 sát trắng ruộng rươi nguyên cám 100%
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div *ngIf="!isShow" class="gradient"></div>
                </div>
                <button *ngIf="isShowBtn" class="btn-more" (click)="isShow = true; isShowBtn=false"
                    data-view-id="pdp_view_description_button">Xem thêm 42 sản phẩm</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>