<div class="container checkout">
    <div class="breadcrumb-small">
        <a href="/gio-hang" title="Quay trở về giỏ hàng">Giỏ Hàng</a>
        <span aria-hidden="true">></span>
        <span>Thanh toán</span>
    </div>
    <div class="checkout-content">
        <div class="main-content">
            <div class="checkout-header">
                <div>
                    <label class="lbl-h1">Thông Tin Vận Chuyển</label>
                </div>
                <div class="login" *ngIf="!account.username">
                    <span>Bạn đã có tài khoản?</span>
                    <a (click)="openDialogLogin()"><span>Đặng nhập</span></a>
                </div>
                <div class="location_data">
                    <div class="name"><input #name [(ngModel)]="account.username" type="text" pInputText
                            placeholder="Họ và tên" /></div>
                    <div class="email-phone">
                        <input #email type="email" [(ngModel)]="account.email" pInputText placeholder="Email" />
                        <input #tel type="tel" [(ngModel)]="account.phone" pInputText placeholder="Điện thoại" />
                    </div>
                    <div class="address"><input type="text" pInputText placeholder="Địa chỉ" /></div>
                    <div class="city">
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="Thành Phố/Tỉnh"
                            (onChange)="citiesChange(selectedCity1)" optionLabel="name"
                            [style]="{'width': '100%', 'border-radius': '20px'}" [showClear]="false">
                        </p-dropdown>
                        <p-dropdown [options]="district" [(ngModel)]="selectedCity2" placeholder="Quận/Huyện"
                            (onChange)="districtChange(selectedCity2)"
                            [style]="{'width': '100%', 'border-radius': '20px'}" optionLabel="name" [showClear]="false">
                        </p-dropdown>
                        <p-dropdown [options]="wards" [(ngModel)]="selectedCity3" placeholder="Phường"
                            [style]="{'width': '100%', 'border-radius': '20px'}" optionLabel="name" [showClear]="false">
                        </p-dropdown>
                    </div>
                    <div class="note"><input type="text" pInputText
                            placeholder="Ghi chú thêm(Ví dụ: Giao hàng giờ hành chính)" /></div>
                </div>
            </div>
            <div class="pay">
                <div>
                    <label class="lbl-h1">Phương thức thanh toán</label>
                </div>
                <div>
                    <label class="two-page" for="payment_method_id_1002478030">
                        <div class="radio-input payment-method-checkbox">
                            <input type-id="2" id="payment_method_id_1002478030" class="input-radio"
                                name="payment-method" type="radio" value="1002478030" (change)="cardCheck($event)">
                        </div>

                        <div class="radio-content-input">
                            <img class="main-img"
                                src="https://hstatic.net/0/0/global/design/seller/image/payment/other.svg?v=1">
                            <div class="content-wrapper">
                                <span class="radio-label-primary">Chuyển khoản qua ngân hàng</span>
                            </div>
                        </div>
                    </label>
                    <div class="blank-slate" *ngIf="isCard">
                        Tên tài khoản: Bùi Ngọc Cường <br>
                        Số tài khoản: 19132918746018<br>
                        Ngân hàng Techcombank, Chi nhánh Tây Hồ, Hà Nội.
                    </div>
                </div>
                <div>
                    <label class="two-page" for="payment_method_id_1002742948">
                        <div class="radio-input payment-method-checkbox">
                            <input type-id="1" id="payment_method_id_1002742948" class="input-radio"
                                name="payment-method" type="radio" value="1002742948"
                                (change)="isCard = false; ismomo = false; iszalo = false">
                        </div>

                        <div class="radio-content-input">
                            <img class="main-img"
                                src="https://hstatic.net/0/0/global/design/seller/image/payment/cod.svg?v=1">
                            <div class="content-wrapper">
                                <span class="radio-label-primary">Thanh toán khi giao hàng (COD)</span>
                            </div>
                        </div>
                    </label>
                </div>
                <div style="width: 100%;">
                    <label for="payment-momo" class="payment-method__item"><span
                            class="payment-method__item-custom-checkbox custom-radio"><input type="radio"
                                id="payment-momo" name="payment-method" autocomplete="off" value="momo"
                                (change)="momoCheck($event)">
                            <span class="checkmark"></span></span> <span class="payment-method__item-icon-wrapper"><img
                                style="height: 30px;" src="https://www.coolmate.me/images/momo-icon.png"
                                alt="Thanh Toán MoMo"></span> <span class="payment-method__item-name">Thanh Toán
                            MoMo</span></label>
                    <div class="blank-slate" *ngIf="ismomo">
                        QR code
                    </div>
                </div>
                <div style="width: 100%;">
                    <label for="payment-zalopay" class="payment-method__item"><span
                            class="payment-method__item-custom-checkbox custom-radio"><input type="radio"
                                (change)="zaloCheck($event)" id="payment-zalopay" name="payment-method"
                                autocomplete="off" value="zalopay"> <span class="checkmark"></span></span> <span
                            class="payment-method__item-icon-wrapper"><img
                                src="https://www.coolmate.me/images/logo-zalopay.svg" alt="Ví điện tử ZaloPay"></span>
                        <span class="payment-method__item-name">Ví điện tử ZaloPay</span></label>

                    <div class="blank-slate" *ngIf="iszalo">
                        QR code
                    </div>
                </div>
            </div>
            <div class="check">
                <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="group"></p-checkbox>
                <span>Tôi đã thanh toán</span>
            </div>
            <div class="button-box">
                <button pButton pRipple type="button" label="Thanh toán" class="p-button-danger"
                    href="/dat-hang"></button>
            </div>
        </div>
        <div class="order-bar">
            <div class="product-order">
                <div class="image">
                    <div class="product_image" *ngFor="let item of product">
                        <a target="_self" href="/chi-tiet-san-pham">
                            <img src="//product.hstatic.net/200000170631/product/mat-tra-kombucha-cot-chuoi-500ml_0d0457c2e57048c0be7305d0953ae0f2_medium.jpg"
                                alt="Mật Trà Kombucha Cốt Chuối">
                        </a>
                        <div class="item-content">
                            <div>
                                <a target="_self" href="/chi-tiet-san-pham">{{item.title}}
                                </a><br>
                                <span class="variant_title">{{item.variant}}</span>
                            </div>
                            <div class="product-price">
                                <span class="price">
                                    <span class="line-item-total">{{formatCash(item.totalPrice)}} ₫</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-summary">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText cher>
                    <label for="float-input">Mã giản giá</label>
                </span>
                <p-button label="Sử dụng"></p-button>
            </div>
            <div class="order-pay">
                <div>
                    <span>Tạm tính</span>
                    <span class="total-now"> {{formatCash(total)}} ₫</span>
                </div>
                <div>
                    <span>Phí ship</span>
                    <span>{{ship}}₫</span>
                </div>
            </div>
            <div class="order-total">
                <span>Tổng tiền</span>
                <span class="total"> {{formatCash(total)}} ₫</span>
            </div>
        </div>
    </div>
</div>