.checkout {
    margin-bottom: 40px;

    .checkout-content {
        width: 100%;
        display: flex;

        .main-content {
            width: 100%;
            border-right: 1px solid #ccc;
            padding-right: 20px;

            .checkout-header {
                .login {
                    a {
                        color: blue;
                        cursor: pointer;

                        &:hover {
                            color: #87b83b;
                        }
                    }
                }
            }

            div {
                .location_data {
                    .name {
                        margin: 10px 0;

                        input {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }

                    .email-phone {
                        margin: 10px 0;
                        display: flex;
                        justify-content: space-between;

                        input {
                            width: 48%;
                            border-radius: 20px;
                        }
                    }

                    .address {
                        margin: 10px 0;

                        input {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }

                    .city {
                        margin: 10px 0;
                        display: flex;
                        justify-content: space-between;

                        p-dropdown {
                            width: 30%;
                        }
                    }

                    .note {
                        margin: 10px 0;

                        input {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }
                }
            }

            .pay {
                div {
                    .blank-slate {
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        background-color: #fafafa;
                        text-align: center;
                        padding: 20px;
                    }
                }

                .two-page {
                    padding: 15px 0;
                    display: flex;
                    align-items: center;
                    border: 1px solid #ccc;
                    border-bottom: none;
                    padding-left: 20px;

                    .radio-input {
                        margin-right: 10px;
                    }

                    .radio-content-input {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 10px;
                        }
                    }
                }

                .payment-method__item {
                    width: 100%;
                    padding: 15px 0;
                    padding-left: 20px;
                    border: 1px solid #ccc;
                    border-bottom: none;

                    img {
                        margin: 0 10px;
                    }
                }
            }

            .check {
                border-top: 1px solid #ccc;
                padding: 15px 0;
                justify-content: center;
                align-items: center;

                ::ng-deep {
                    .p-element {
                        .p-dropdown {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }
                }

                p-checkbox {
                    margin: 4px;
                }
            }
        }

        .order-bar {
            width: 100%;
            padding: 0 20px;

            .product-order {
                width: 100%;

                .image {
                    .product_image {
                        display: flex;

                        a {
                            img {
                                height: 100px;
                                border: 1px solid #ccc;
                                border-radius: 10px;
                                margin-right: 10px;
                            }
                        }

                        .item-content {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            a {
                                color: #000;

                                &:hover {
                                    color: #87b83b;
                                }
                            }
                        }
                    }
                }

            }

            .order-summary {
                display: flex;
                margin: 10px 0;
                width: 100%;
                justify-content: space-between;
                border-top: 1px solid #ccc;
                padding-top: 10px;

                .p-float-label {
                    width: 75%;

                    input {
                        width: 100%;
                    }
                }
            }

            .order-pay {
                width: 100%;
                padding: 20px 0px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;

                div {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .order-total {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
        }

        .button-box {
            float: right;

            button {
                width: 200px;
                text-transform: uppercase;
                font-size: 18px;
            }
        }
    }

}