<app-header [banner]="true"></app-header>
<div>
    <a target="_self" [href]="banner.targetUrl"><img
            style="width: 100%; max-height: 700px; border-bottom: 1px solid #790505;" [src]="banner.imageUrl"
            alt=""></a>
</div>
<div class="container introduce" style="text-align: left">
    <div class="breadcrumb-small">
        <a target="_self" href="/" title="Quay trở về trang chủ">Trang chủ</a>
        <span aria-hidden="true">/</span>
        <span>Về chúng tôi</span>
    </div>
    <label class="lbl-title lbl-h1" style="margin-top: 0;">{{introduce?.postTitle}}</label><br>
    <div #content></div>
    <div class="box-future"
        [ngStyle]="{ 'background': 'linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(' + introduce?.soLuocVeNgong.tamNhinSuMenhGTCL.imageUrl + ')'}">
        <div class="box-content">
            <div class="box-content-tam-nhin">
                <label class="lbl-h1 lbl-title">TẦM NHÌNH - SỨ MỆNH</label>
                <div [innerHTML]="introduce?.soLuocVeNgong.tamNhinSuMenhGTCL.vision"
                    style="text-align: left; padding-left: 10px; padding-right: 10px;">
                </div>
            </div>
            <div class="box-content-gia-tri-cot-loi">
                <div style="width: 90%;
                                        background-color: #bc7026;
                                        height: 80%;
                                        margin-top: 15px;
                                        padding: 15px;
                                        border-radius: 27px;
                                        color: #fff; text-align: center">
                    <label class="lbl-h1 lbl-title">
                        GÍA TRỊ CỐT LÕI
                    </label><br>
                    <span [innerHTML]="introduce?.soLuocVeNgong.tamNhinSuMenhGTCL.coreValue">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="story">
        <div class="story-image"><img style="width: 100%;"
                [src]="introduce?.soLuocVeNgong.cauChuyenThuongHieu.imageUrl" /></div>
        <div class="story-content">
            <strong class="lbl-h1">CÂU CHUYỆN THƯƠNG HIỆU</strong><br><br>
            <p>{{introduce?.soLuocVeNgong.cauChuyenThuongHieu.brandStory}}</p>
        </div>
    </div>
    <div style="width: 100%; text-align: center;margin: 20px 0 30px 0;">
        <label class="lbl-h1 lbl-title">QUÁ TRÌNH HÌNH THÀNH VÀ PHÁT TRIỂN</label>
        <div style="width: 100%;">
            <app-carousel [form]="true" [numVisible]="4" [datas]="introduce?.soLuocVeNgong.qtHinhThanhPhatTrien"
                [responsiveOptions]="responsiveOptions">
            </app-carousel>
        </div>
        <div>
            <div class="box-future">
                <div class="box-content"
                    [ngStyle]="{ 'background': 'linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(' + introduce?.soLuocVeNgong.tamNhinSuMenhGTCL.imageUrl + ')'}">
                    <div class="box-content-dinh-huong">
                        <label class="lbl-h1 lbl-title"> ĐỊNH HƯỚNG PHÁT TRIỂN</label>
                        <div [innerHTML]="introduce?.soLuocVeNgong.dinhHuongLinhVuc.orientDevelopment"
                            style="text-align: left; padding-left: 10px; padding-right: 10px;">
                        </div>
                    </div>
                    <div class="box-content-linh-vuc">
                        <div style="width: 90%;
                                                    background-color: #bc7026;
                                                    height: 80%;
                                                    margin-top: 15px;
                                                    padding: 15px;
                                                    border-radius: 27px;
                                                    color: #fff; text-align: center">
                            <label class="lbl-h1 lbl-title">
                                LĨNH VỰC HOẠT ĐỘNG
                            </label><br>
                            <span [innerHTML]="introduce?.soLuocVeNgong.dinhHuongLinhVuc.fieldOperation">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%;text-align: center;margin: 20px 0 30px 0;">
                <label class="lbl-h1 lbl-title">SƠ ĐỒ TỔ CHỨC</label>
                <div>
                    <div id="wrapper">
                        <div id="container">
                            <ol class="organizational-chart">
                                <li>
                                    <div>
                                        <label class="lbl-h1">BAN GIÁM ĐỐC</label>
                                    </div>
                                    <ol>
                                        <li>
                                            <div>
                                                <label class="lbl-h2">KHỐI THIẾT KẾ VÀ THI CÔNG</label>
                                            </div>
                                            <ol>
                                                <li>
                                                    <div>
                                                        <label class="lbl-h3">Phòng thiết kế</label>
                                                    </div>
                                                    <ol>
                                                        <li>
                                                            <div>
                                                                <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiThietKeVaThiCong.phongThietKe[0]}}</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div>
                                                                <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiThietKeVaThiCong.phongThietKe[1]}}</label>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <li>
                                                    <div>
                                                        <label class="lbl-h3">Phòng thi công</label>
                                                    </div>
                                                    <ol>
                                                        <li>
                                                            <div>
                                                                <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiThietKeVaThiCong.phongThiCong[0]}}</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div>
                                                                <label>
                                                                    {{introduce?.soLuocVeNgong.soDoToChuc.khoiThietKeVaThiCong.phongThiCong[1]}}
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div>
                                                                <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiThietKeVaThiCong.phongThiCong[2]}}</label>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <div>
                                                <label class="lbl-h2">KHỐI SẢN XUẤT</label>
                                            </div>
                                            <ol>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiSanXuat[0]}}</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiSanXuat[1]}}</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiSanXuat[2]}}</label>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <div>
                                                <label class="lbl-h2"> KHỐI HÀNH CHÍNH - KẾ TOÁN</label>
                                            </div>
                                            <ol>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiHanhChinhKeToan[0]}}</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiHanhChinhKeToan[1]}}</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiHanhChinhKeToan[2]}}</label>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <div>
                                                <label class="lbl-h2">KHỐI BÁN HÀNG</label>
                                            </div>
                                            <ol>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiHanhChinhKeToan[0]}}</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.khoiHanhChinhKeToan[1]}}</label>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <div>
                                                <label class="lbl-h2">HỆ THỐNG SHOWROOM</label>
                                            </div>
                                            <ol>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.heThongShowroom[0]}}</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.heThongShowroom[1]}}</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <label>{{introduce?.soLuocVeNgong.soDoToChuc.heThongShowroom[2]}}</label>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%; text-align: center;">
                <label class="lbl-h1 lbl-title">CAM KẾT VỚI KHÁC HÀNG</label>
                <div class="content">
                    <div class="div-content"
                        *ngFor="let item of introduce?.soLuocVeNgong.camKetKhachHang; let i = index">
                        <div style=" font-size: xxx-large;">
                            0{{i}}
                        </div>
                        <div style="transform: rotate(15deg);height: 100%;border: 1px solid #ccc;margin-right: 20px;">
                        </div>
                        <div class="cc-content">
                            <strong class="cc-strong">
                                {{item.title}}
                            </strong>
                            {{item.content}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="member" style="margin-bottom: 20px; width: 100%;text-align: center;margin: 20px 0 30px 0;">
                <label class="lbl-h1 lbl-title">THÀNH TỰU VÀ GIẢI THƯỞNG</label>
                <div style="width: 100%; background-color: #87b83b; height: 350px; padding-top: 15px;">
                    <app-carousel [prize]="true" [numVisible]="3" [datas]="awardList"
                        [responsiveOptions]="responsiveOptions2">
                    </app-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>