<div class="voucherDialog">
    <div>
        <h2>Chọn Voucher</h2>
    </div>
    <div class="voucher">
        <label>Mã Voucher:</label>
        <input type="text" id="loinhan" placeholder="Mã Shopee Voucher">
        <button class="add">Áp Dụng</button>
    </div>

    <div class="content-voucher">
        <div class="title">
            <label style="font-size: 18px; display: block;">Mã Miễn Phí Vận Chuyển</label>
            <label style="font-size: 14px; display: block;">Có thể chọn 1 Voucher</label>
        </div>

        <div class="content-detail">

        </div>
        <div class="content-detail">

        </div>
        <div class="content-detail">

        </div>
    </div>

    <div class="footer">
        <button class="okBtn">Ok</button>
        <button class="backBtn">Trở lại</button>
    </div>
</div>